@{
    ViewBag.Title = "Pokémon";
    ViewData["ActiveMenu"] = 1;

    ViewData["title"] = "Sorteio: Pelúcia Dragonite";
    ViewData["metaDescription"] = "Não perca a chance de concorrer a uma pelúcia da loja Dungeon Store";
    ViewData["metaImage"] = Url.Content("~/Content/img/metaImages/metaSorteioPokemon.jpg");
    ViewData["metaUrl"] = Url.Content("~/Nintendo/Pokemon/Sorteio");
    ViewData["metaKeywords"] = new List<string>() { "Pokémon", "Pokemon", "Nintendo", "Pikachu", "Timeline" };

    @section Head{
        <link rel="stylesheet" href="@Url.Content("~/Content/css/pokemon20th.css")"/>
    }
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="nintendo-container" class="pokemon20th" style="padding: 0;">
    @{Html.RenderPartial("SubMenus/Nintendo", 9);}
    <section class="content-section video-section">
        <div style="background: url('@Url.Content("~/Content/img/marquee_bg.jpg")') center center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo"><img class="img-responsive" alt="Timeline Interativa" src="@Url.Content("~/Content/img/poke20th_sorteioDragonite.png")" /></div>
                        <h3 class="subTitle">A Dungeon Store trás pra você um sorteio exclusivo de um Dragonite de pelúcia!</h3>
                    </div>
                </div>
                <div class="share-icons">
                    <a title="Compartilhe no Facebook" href="https://www.facebook.com/sharer/sharer.php?u=@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]@(Url.Content("~/Nintendo/Pokemon/Sorteio"))" class="share-icon" style="background-image: url('@Url.Content("~/Content/img/icons/article-share/facebook_32.png")')" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
                    <a title="Compartilhe no Twitter" href="https://twitter.com/intent/tweet?source=n_party&related=n_party&via=n_party&url=@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]@(Url.Content("~/Nintendo/Pokemon/Sorteio"))" class="share-icon" style="background-image: url('@Url.Content("~/Content/img/icons/article-share/twitter_32.png")')" onclick="javascript:window.open(this.href,
                                                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
                    <a title="Compartilhe no LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]@(Url.Content("~/Nintendo/Pokemon/Sorteio"))" class="share-icon" style="background-image: url('@Url.Content("~/Content/img/icons/article-share/linkedin_32.png")')" onclick="javascript:window.open(this.href,
                                                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
                    <a title="Compartilhe no Google+" href="https://plus.google.com/share?url=@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]@(Url.Content("~/Nintendo/Pokemon/Sorteio"))" class="share-icon" style="background-image: url('@Url.Content("~/Content/img/icons/article-share/googleplus_32.png")')" onclick="javascript:window.open(this.href,
                                                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
                </div>
                <div class="row">
                    <div class="col-md-2 col-lg-offset-5" style="padding: 10px; text-align: center;">
                        <b>Realização:</b><br />
                        <a href="http://dungeon-store.com" target="_blank"><img src="@Url.Content("~/Content/img/pokepartyday/logo_dungeonStore.png")" class="img-responsive" style="max-width: 170px; margin: 10px auto;" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-default" id="pokemon20th-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-pokeParty" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 style="margin-top: 12px; text-align: center; color: #FFF; text-shadow: 0 1px 2px rgba(0,0,0,.6);" class="hidden-lg">Menu</h3>
            </div>
            <div class="collapse navbar-collapse" id="menu-pokeParty">
                <ul class="nav nav-pills  menu">
                    <li role="presentation"><a href="@Url.Content("~/Nintendo/Pokemon/")">Home</a></li>
                    <li role="presentation"><a href="@Url.Content("~/Nintendo/Pokemon/Timeline")">Timeline Interativa</a></li>
                    <li role="presentation"><a href="@Url.Content("~/Nintendo/Pokemon/PokePartyDay")">Poké Party Day</a></li>
                    <li role="presentation" class="active"><a href="@Url.Content("~/Nintendo/Pokemon/Sorteio")">Sorteio</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
        <p>Em parceria com a N-Party, a Dungeon Store trás mais um sorteio, e desta vez, comemorativo dos 20 anos de Pokémon. Quer ganhar esta pelúcia do Dragonite acima? Então faça o seguinte:</p>
        <br/>
        <blockquote style="text-align: center;">
            <p>
                <h4>1. Curta as páginas do grupo N-Party e da Dungeon Store</h4>
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <div class="fb-page" data-href="https://www.facebook.com/nparty" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/nparty"><a href="https://www.facebook.com/nparty">N-Party</a></blockquote></div></div>
                    </div>
                    <div class="col-md-6" style="text-align: center;"><div class="fb-page" data-href="https://www.facebook.com/DungeonStoreOficial" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/DungeonStoreOficial"><a href="https://www.facebook.com/DungeonStoreOficial">Dungeon Store</a></blockquote></div></div></div>
                </div>
            </p>
            <br />
            <p>
                <h4>2. Se inscreva no canal da Dungeon Store</h4>
                <script src="https://apis.google.com/js/platform.js"></script>

                <div style="text-align: center;"><div class="g-ytsubscribe" data-channelid="UCi8keikVSqQg8LIC3s92OZA" data-layout="full" data-count="default"></div></div>
            </p>
            <br />
            <p>
                <h4>3.Marque 3 amigos na publicação abaixo e a compartilhe em modo PÚBLICO</h4>
                <div style="text-align: center"><div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/20531316728/posts/10154009990506729/">Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on&nbsp;<a href="https://www.facebook.com/20531316728/posts/10154009990506729/">Thursday, August 27, 2015</a></blockquote></div></div></div>
            </p><br />
            <p>
                <h4>4. Acesse o link abaixo e clique em "Quero Participar"</h4>
                <div style="text-align: center;"><a href="https://www.sorteiefb.com.br/tab/promocao/523506" target="_blank">https://www.sorteiefb.com.br/tab/promocao/523506</a></div>
            </p>
        </blockquote>
        <hr/>
        <p>A promoção se encerra no dia 26/02/2016, às 20h. Caso o sorteado não tenha atendido a alguns dos requisitos acima, será sorteado um novo ganhador.</p>
        <p>O vencedor será notificado pelo Facebook. Entregaremos o prêmio no <a href="@Url.Content("~/Pokemon/PokePartyDay")" target="_blank">Poké Party Day</a>. Caso o ganhador não consiga retirar no dia, o prêmio será enviado sem nenhum custo adicional.</p>
    </div>
</div>

