@{
    ViewBag.Title = "Pokémon";
    ViewData["ActiveMenu"] = 1;

    ViewData["title"] = "Timeline Interativa";
    ViewData["metaDescription"] = "Acompanhe a trajetória da franquia Pokémon da melhor forma possível: jogando!";
    ViewData["metaImage"] = Url.Content("~/Content/img/metaImages/metaPokemonTimeline.jpg");
    ViewData["metaUrl"] = Url.Content("~/Nintendo/Pokemon/Timeline");
    ViewData["metaKeywords"] = new List<string>() { "Pokémon", "Pokemon", "Nintendo", "Pikachu", "Timeline" };

    @section Head{
        <link rel="stylesheet" href="@Url.Content("~/Content/css/pokemon20th.css")"/>
    }
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="nintendo-container" class="pokemon20th" style="padding: 0;">
    @{Html.RenderPartial("SubMenus/Nintendo", 9);}
    <section class="content-section video-section">
        <div style="background: url('@Url.Content("~/Content/img/marquee_bg.jpg")') center center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo"><img class="img-responsive" alt="Timeline Interativa" src="@Url.Content("~/Content/img/poke20th_timelineLogo.png")" /></div>
                        <h3 class="subTitle">Acompanhe a trajetória da franquia Pokémon da melhor forma possível: jogando!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-default" id="pokemon20th-navbar">
        <div class="container">
            <ul class="nav nav-pills menu">
                <li role="presentation" ><a href="@Url.Content("~/Nintendo/Pokemon/")">Home</a></li>
                <li role="presentation" class="active"><a href="@Url.Content("~/Nintendo/Pokemon/Timeline")">Timeline Interativa</a></li>
                <li role="presentation"><a href="@Url.Content("~/Nintendo/Pokemon/PokePartyDay")">Poké Party Day</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container" style="margin-top: 20px;">
        <div style="text-align: center; ">
            <iframe style="width: 540px; height: 520px; padding: 0; margin: auto;" frameborder="0" src="@Url.Content("~/Content/pokemontimeline/index.html")"></iframe>
        </div>
    </div>
</div>

