@model CampeonatosNParty.Models.ViewModel.UsuariosDetailView
@{
    ViewBag.Title = "DetalhesUsuario";
    CampeonatosNParty.Models.Database.Cidade cidade = CampeonatosNParty.Models.Database.Cidade.WithIdentity(Model.usuario.Id_Cidade);
    CampeonatosNParty.Models.Database.Estado estado = CampeonatosNParty.Models.Database.Estado.WithIdentity(Model.usuario.Id_Estado);
    CampeonatosNParty.Models.Database.Ranking ranking = CampeonatosNParty.Models.Database.Ranking.WithMember("IdUsuario", Model.usuario.Id);
}

@{
    if(Model != null)
    {
         ViewBag.Title = Model.usuario.Nome;

        string apelido = string.IsNullOrEmpty(Model.usuario.Apelido) ? "" : "(" + Model.usuario.Apelido + ")";
        
        <ul class="breadcrumb">
            <li><a href="@Url.Content("/Admin/")">Admin</a> <span class="divider">/</span></li>
            <li><a href="@Url.Content("/Admin/Usuarios/")">Usuários</a> <span class="divider">/</span></li>
            <li class="active">@Model.usuario.Nome @apelido</li>
        </ul>
    
        if (ViewData["CurrentUser"] != null && ((CampeonatosNParty.Models.Database.Usuarios)ViewData["CurrentUser"]).Nivel_Permissao > 90)
        {
            <a class="btn btn-large pull-right" href="@Url.Content("/Admin/Usuarios/EditarUsuario/" + Model.usuario.Id)">Editar</a>
        }
        
        <div class="page-header">
          <h2>@Model.usuario.Nome <small>@apelido</small></h2>
          
        </div>
         <div class="row">
            <div class="span3">
                <img src="@Model.usuario.UrlFotoPerfil" alt="@Model.usuario.UrlFotoPerfil" style="margin-bottom: 20px;"/>
            </div>
             <div class="span8 offset1">
                @{
                    if (ranking != null)
                    {
                        <div class="row"><b>Pontuação</b>: @ranking.Pontos pontos</div>
                    }
                    if(!string.IsNullOrEmpty(Model.usuario.Telefone))
                    {
                        <div class="row"><b>Telefone</b>: @Model.usuario.Telefone</div>
                    }
                    if(!string.IsNullOrEmpty(Model.usuario.Email))
                    {
                        <div class="row"><b>Email</b>: @Model.usuario.Email</div>
                    }                     
                    if(cidade != null && !string.IsNullOrEmpty(cidade.Nome))
                    {
                        string cidadeSigla = estado != null && !string.IsNullOrEmpty(estado.Sigla) ? cidade.Nome + " - " + estado.Sigla : cidade.Nome;
                        <div class="row"><b>Cidade</b>: @cidadeSigla</div>
                    }
                    if (!string.IsNullOrEmpty(Model.usuario.LiveId))
                    {
                        <div class="row"><b>Live Id</b>: @Model.usuario.LiveId</div>
                    }
                    if (!string.IsNullOrEmpty(Model.usuario.PsnId))
                    {
                        <div class="row"><b>PSN Id</b>: @Model.usuario.PsnId</div>
                    }
                }
            </div>
    </div>
    }
}

