@model CampeonatosNParty.Models.ViewModel.CampeonatosDetailView
@{
    ViewBag.Title = "Detalhes do campeonato";

    if(Model != null)
    {   
        <ul class="breadcrumb">
            <li><a href="@Url.Content("/Admin/")">Admin</a> <span class="divider">/</span></li>
            <li><a href="@Url.Content("/Admin/Campeonato/")">Campeonatos</a> <span class="divider">/</span></li>
            <li class="active">@Model.evento.Nome</li>
        </ul>
    
        if (ViewData["CurrentUser"] != null && ((CampeonatosNParty.Models.Database.Usuarios)ViewData["CurrentUser"]).Nivel_Permissao > 90)
        {
            <a class="btn btn-large pull-right" href="@Url.Content("/Admin/EditarCampeonato/" + Model.campeonato.Id)">Editar</a>
        }
        
        <div class="page-header">
          <h2>@Model.jogo.Nome</h2>
        </div>
         <div class="row">
            <div class="span3">
                <img src="@Model.jogo.ImagemURL" alt="@Model.jogo.Nome" style="margin-bottom: 20px;"/>
            </div>
             <div class="span8 offset1">
                @{
                    <div class="row">
                        <b>Evento</b>: <a href="@Url.Content("~/Admin/Eventos/DetalhesEvento/" + Model.evento.Id)">@Model.evento.Nome</a>
                    </div>
                    <div class="row">
                        <b>Data</b>: @Model.campeonato.DataCampeonato.ToString("dd/MM/yyyy")
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="span12">
                 @{
                    foreach (CampeonatosNParty.Models.Database.InscricaoUsuario[] jogadoresArray in Model.jogadoresInscritos)
                    {
                        <ul class="thumbnails">
                            @foreach (CampeonatosNParty.Models.Database.InscricaoUsuario jogador in jogadoresArray)
                            {
                                if(jogador != null)
                                {
                                    string apelido = string.IsNullOrEmpty(jogador.ApelidoUsuario) ? "" : "(" + jogador.ApelidoUsuario + ")";
                                    <li class="span2">
                                        <a class="thumbnail" href="@Url.Content("~/Jogadores/Detalhes/" + jogador.IdUsuario)">
                                            <img data-src="holder.js/300x300" alt="Imagem Perfil" src="@jogador.UrlFotoPerfil" />
				                            <h4>@jogador.NomeUsuario @apelido</h4>
				                            <div class="textDescription">
                                               <div><b>Classificação</b>: @jogador.getClassificacao()</div>
				                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    }
}

