@{
    ViewBag.Title = "Campeonatos N-Party";
    int topMenu = Convert.ToInt32(ViewData["TopMenu"]);
    CampeonatosNParty.Models.Database.Usuarios currentUser = (CampeonatosNParty.Models.Database.Usuarios) ViewData["CurrentUser"];
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" rel="stylesheet" media="screen" href="@Url.Content("~/Static/css/bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@Url.Content("~/Static/css/bootstrap-responsive.min.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link rel="stylesheet" rel="stylesheet" media="screen" href="@Url.Content("~/Static/css/nparty.css")" />
</head>
<body>
    <div class="container" id="main-wrapper">
			<div class="header">
				<div class="row">
					<div class="span3">
						<div class="logo" style="margin: 5px 5px 5px 5px;">
							<a href="/"><img src="/Static/img/template/logo.png" style="height: 60px;" /></a>
						</div>
					</div>
					<div class="span9">
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="@(topMenu == 1 ? "active" : "")"><a href="@Url.Content("~/Eventos/")">Eventos</a></li>
                                <li class="@(topMenu == 2 ? "active" : "")"><a href="@Url.Content("~/Campeonatos/")">Campeonatos</a></li>
                                <li class="@(topMenu == 3 ? "active" : "")"><a href="@Url.Content("~/Jogadores/")">Jogadores</a></li>
							</ul>
							<ul class="nav" style="float: right;">
								 @if (currentUser == null)
                                {
                                    <li><a href="@Url.Content("~/Home/Login")">Login</a></li>
                                }
                                else
                                {  
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" id="loginLabel" role="button" data-toggle="dropdown">Olá, @(currentUser.Nome) <b class="caret"></b></a>
                                        <ul class="dropdown-menu" aria-labelledby="loginLabel" role="menu">
                                          <li><a href="@Url.Content("~/Jogadores/Detalhes/" + currentUser.Id)">Meu Perfil</a></li>
                                          <li><a href="@Url.Content("~/Jogadores/EditarMinhasInformacoes/")">Editar Minhas Informações</a></li>
                                          <li class="divider"></li>
                                          <li><a href="@Url.Content("~/Home/Logout")">Logout</a></li>
                                        </ul>
                                    </li>  
                                }
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="main-content">
                 @RenderBody()
            </div>
            <footer>
				<hr>
				<p style="float: left;">© N-Party 2013 - www.nparty.com.br</p>
				<p style="float: right">Desenvolvido e Desenhado por <b>Mario Toledo</b><br>Idealizado e Projetado por <b>Rafael Farias</b></p>
			</footer>
    </div>
</body>
</html>