<div class="span4">
    <ul class="settings">
        <li>
            <h4><a href="@Url.Content("~/Configuracoes/DadosBasicos")">Dados básicos</a></h4>
            <p>Alteração de dados básicos, como apelido, idade, telefone, cidade e estado.</p>
        </li>
        <li>
            <h4><a href="@Url.Content("~/Configuracoes/DadosConexao")">Dados de conexão</a></h4>
            <p>Alteração de dados de conectividade com outras redes, como Facebook, PSN, Live e Steam.</p>
        </li>
        <li>
            <h4><a href="@Url.Content("~/Configuracoes/DadosNintendisticos")">Dados nintendísticos</a></h4>
            <p>Alteração de dados voltados a Nintendo, como Friend Code, Id do Miiverse e Friend Safari de Pokémon.</p>
        </li>
        <li>
            <h4><a href="@Url.Content("~/Configuracoes/FotoPerfil")">Alteração de de foto de perfil</a></h4>
            <p>Alteração da foto do seu perfil no N-Party Connect.</p>
        </li>
        <li>
            <h4><a href="@Url.Content("~/Configuracoes/AlterarSenha")">Alteração de senha</a></h4>
            <p>Alteração de senha de acesso no N-Party Connect.</p>
        </li>
    </ul>
</div>