@model CampeonatosNParty.Models.ViewModel.CampeonatosDetailView
@{
    if(Model != null)
    {
        ViewBag.Title = "Detalhes do evento";
        <ul class="breadcrumb">
            <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
            <li><a href="@Url.Content("/")">Library</a> <span class="divider">/</span></li>
            <li class="active">Data</li>
        </ul>
        <div class="page-header">
          <h2>@Model.campeonato.NomeJogo</h2>
        </div>
        <div class="row">
            <div class="span6">
                <h3>Detalhes do campeonato</h3>
                <hr />
            @{
                if(Model.campeonato.DataCampeonato != null)
                {
                    <div class="row">
                        <div class="span1"><b>Data</b></div>
                        <div class="span2">@Model.campeonato.DataCampeonato.ToString("dd/MM/yyyy") as @Model.campeonato.DataCampeonato.ToString("HH:mm")</div>
                    </div>
                }

                if (!string.IsNullOrEmpty(Model.campeonato.NomeEvento))
                {
                    <div class="row">
                        <div class="span1"><b>Evento</b></div>
                        <div class="span2"><a href="@Url.Content("/Eventos/Detalhes/" + Model.campeonato.IdEvento)">@Model.campeonato.NomeEvento</a></div>
                    </div>
                }

                List<CampeonatosNParty.Models.Database.Inscricao> inscricaoLista = CampeonatosNParty.Models.Database.Inscricao.Select().Where("IdCampeonato", Model.campeonato.IdCampeonato).ToList();
                if (inscricaoLista.Count > 0)
                {
                    <div class="row">
                        <div class="span1"><b>Número de inscritos</b></div>
                        <div class="span2">@inscricaoLista.Count</div>
                    </div>
                }
            }
            </div>
            <div class="span6">
                <h3>Classificação dos campeonato</h3>
                <hr />
                @{
                    if (Model.classificacao.Count > 0)
                    {
                        <table class="table table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Colocação</th>
                                    <th>Nome</th>
                                    <th>Apelido</th>
                                    <th>Pontos ganhos</th>
                                </tr>
                            </thead>
                            @{
                                foreach (CampeonatosNParty.Models.Database.ClassificacaoCampeonato classificacao in Model.classificacao)
                                {
                                    <tr>
                                        <td>@classificacao.NumeroClassificacao</td>
                                        <td><a href="@Url.Content("/Jogadores/Detalhes/" + classificacao.IdUsuario)">@classificacao.Nome</a></td>
                                        <td>@classificacao.Apelido</td>
                                        <td>@classificacao.Pontuacao</td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                }
            </div>
        </div>
    }
}
