@model CampeonatosNParty.Models.ViewModel.CampeonatosDetailView
@{
    if(Model != null && Model.campeonato != null)
    {
        @section FacebookMeta{
            <meta property="og:image" content="@Model.jogo.getCoverUrl()" />
            <meta property="og:title" content="Campeonato @Model.jogo.Nome - N-Party Connect" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://connect.nparty.com.br" />
            <meta property="og:image:type" content="image/jpeg" />
            <meta property="og:site_name" content="@Model.jogo.Nome - N-Party Connect" />
            <meta property="og:description" content="Veja os detalhes do campeonato de @Model.jogo.Nome no N-Party Connect" />
        }
        ViewBag.Title = "Detalhes do campeonato";
        <ul class="breadcrumb">
            <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
            <li><a href="@Url.Content("/Campeonatos")">Campeonatos</a> <span class="divider">/</span></li>
            <li class="active">@Model.jogo.Nome</li>
        </ul>
    
        <div class="row">
            <div class="span12">
                <div class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Model.jogo.getCoverUrl()" alt="@Model.jogo.Nome"/>
                                <div class="carousel-caption white">
                                    <h2>@Model.jogo.Nome</h2>
                                    @{
                                        if (Model.evento != null && !string.IsNullOrEmpty(Model.evento.Nome))
                                        {
                                            <div><b>Evento</b>: @Model.evento.Nome</div>
                                        }

                                        if (Model.campeonato.DataCampeonato != null)
                                        {
                                            <div><b>Data</b>: @Model.campeonato.DataCampeonato.ToString("dd/MM/yyyy")</div>
                                        }

                                        if (Model.console != null && !string.IsNullOrEmpty(Model.console.Nome))
                                        {
                                            <div><b>Console</b>: @Model.console.Nome</div>
                                        }
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="row">
            <div class="span12">
                @{
                    if (Model.classificacao != null && Model.classificacao.Count<CampeonatosNParty.Models.Database.ClassificacaoCampeonato[]>() > 0)
                    {
                        int colocacao = 1;
                        <h3 id="classificacaoHeader">Classificacao</h3>
                        <script type="text/javascript">
                            var showHeaderClassificacao = false;
                        </script>
                        foreach (CampeonatosNParty.Models.Database.ClassificacaoCampeonato[] classificacaoArray in Model.classificacao)
                        {
                            <ul class="thumbnails">
                                @foreach (CampeonatosNParty.Models.Database.ClassificacaoCampeonato classificacao in classificacaoArray)
                                {
                                    if (classificacao != null)
                                    {
                                        <li class="span2">
                                            <a class="thumbnail" href="@Url.Content("~/Jogadores/Detalhes/" + classificacao.IdUsuario)">
                                                <img class="photoSmall" src="@Url.Content("~/Static/img/default.png")" style="background-image: url('@classificacao.getUrlFotoPerfil()')" />
                                                @{
                                                    string apelido = string.IsNullOrEmpty(classificacao.Apelido) ? "" : "(" + classificacao.Apelido + ")";
                                                    string colocacaoString =  colocacao.ToString() + "º";
                                                }
                                                <h4>@classificacao.Nome <small>@apelido</small></h4>
                                                <div class="textDescription">
                                                    @{
                                                        string classificacaoCamp = classificacao.Classificacao == 0 || classificacao.Classificacao > 4 ? " - " : classificacao.Classificacao.ToString() + "º lugar";
                                                        <div><b>Colocação:</b> @classificacaoCamp</div>
                                                    }
                                                </div>
                                            </a>
                                        </li>
                                        <script type="text/javascript">
                                            showHeaderClassificacao = true;
                                        </script>
                                    }
                                }
                            </ul>
                        }
                    }
                }
            </div>
        </div>
        } else {
            Html.RenderPartial("ErroNotFound");
        }
    }

<script type="text/javascript">
    if (showHeaderClassificacao == false) {
        document.getElementById('classificacaoHeader').style.display = 'none';
    }
</script>