@{
    ViewBag.Title = "Index";
    ViewData["ActiveMenu"] = 1;

    List<NParty.Www.Models.Article> articles = (List<NParty.Www.Models.Article>)ViewData["articles"];
    int currentPage = (int)ViewData["currentPage"];

    string[] nintendoSpecialTags = (string[])ViewData["NintendoSpecialTags"];
}

<div id="nintendo-container" style="padding: 0;">
    @{Html.RenderPartial("SubMenus/Nintendo", 3);}
    <div class="container" style="padding-top: 30px;">
        @{
            if (articles != null && articles.Count > 0)
            {
                <div class="row">
                    <div class="col-md-8 inside-section col-bordered-right" style="margin-bottom: 20px;">

                        @foreach (NParty.Www.Models.Article article in articles)
                        {
                            bool isSpecialTag = false;

                            foreach (string label in article.Labels)
                            {
                                if (nintendoSpecialTags.Contains(label))
                                {
                                    isSpecialTag = true;
                                    break;
                                }
                            }
                            if (isSpecialTag)
                            {
                                <a class="hilight-article-item" href="@Url.Content("~/" + article.NPartyArticleLink)">
                                    <figure style="background-image: url('@article.CoverImage')"></figure>
                                    <h3>@article.Title</h3>
                                    @if (article.Author != null && !string.IsNullOrEmpty(article.Author.Name))
                                    {
                                        <div class="author">Por @article.Author.Name em @article.DatePublished.ToString("dd/MM/yyyy")</div>
                                    }
                                    <p class="snippet">@article.Summary</p>
                                </a>
                            }
                            else
                            {
                                <a class="hilight-article-item hilight-md-article-item" href="@Url.Content("~/" + article.NPartyArticleLink)">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <figure style="background-image: url('@article.CoverImage')"></figure>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>@article.Title</h3>
                                            @if (article.Author != null && !string.IsNullOrEmpty(article.Author.Name))
                                            {
                                                <div class="author">Por @article.Author.Name em @article.DatePublished.ToString("dd/MM/yyyy")</div>
                                            }
                                            <p class="snippet">@article.Summary</p>
                                        </div>
                                    </div>
                                </a>
                            }
                            <hr />
                        }
                        
                        <div class="row">
                            <div class="col-md-5">
                                <a class="directionLink" href="@Url.Content("~/Nintendo/Index?page=" + (currentPage + 1))" style="text-align: left"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> ARTIGOS MAIS <b>ANTIGOS</b> </a>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                @{
                                    if (currentPage > 0)
                                    {
                                        <a class="directionLink" href="@Url.Content("~/Nintendo/Index?page=" + (currentPage - 1))" style="text-align: right;"> ARTIGOS MAIS <b>RECENTES</b> <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @{Html.RenderPartial("Sidebars/Nintendo");}
                    </div>
                </div>
            }
            else
            {
                <div style="padding: 50px; text-align: center;"> Não foi possível encontrar publicãções no momento. Por favor, tente novamente mais tarde.</div>
            }
        }
    </div>
</div>
