@{
    ViewBag.Title = "Ler";
    ViewData["ActiveMenu"] = 1;

    NParty.Www.Models.Article article = (NParty.Www.Models.Article)ViewData["article"];
}
<div id="nintendo-container" style="padding: 0;">
    @{Html.RenderPartial("SubMenus/Nintendo", 3);}
    <div class=" container" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <div class="col-lg-8 col-bordered-right" id="no-scrolable" style="margin-bottom: 20px;">
                <meta content="Mario Toledo" name="author">
                <div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
                    <div class="article">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header">
                                    <img src="@article.CoverImage" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: -50px;  background-color: #FFF; padding: 30px; padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-lg-12" style="margin-top: -50px; padding: 10px; padding-bottom: 0px; background-color: #FFF;">
                                    <div class="article-title">
                                        <h3 class="post-title entry-title" itemprop="name">
                                            @article.Title
                                        </h3>
                                        <div class="subtitulo" itemprop="description">
                                            Apesar dos números não serem tão surpreendentes assim
                                        </div>
                                        <div class="author" style="margin-top: 10px;">
                                            @if (!string.IsNullOrEmpty(article.Author))
                                            {
                                                <div>
                                                    Por
                                                    <span itemprop="name">@article.Author</span>
                                                    em
                                                    @article.DatePublished.Day de @article.DatePublished.ToString("MMMM") de @article.DatePublished.Year
                                                </div>
                                            }
                                        </div><br>
                                        <div style="margin-left: 0px; margin-bottom: 0px; margin-bottom: 20px;">
                                            <div class="socialShare">
                                                <div class="fb-like" data-action="like" data-layout="button_count" data-share="false" data-show-faces="false" data-width="70"></div>
                                            </div>
                                            <div class="socialShare">
                                                <a class="twitter-share-button" data-count="horizontal" data-via="n_party" href="http://twitter.com/share">Tweet</a>
                                                <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                                            </div>
                                            <div class="socialShare">
                                                <script src="https://apis.google.com/js/plusone.js" type="text/javascript" gapi_processed="true"></script>
                                                <g:plusone></g:plusone><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" id="article-content">
                                        @Html.Raw(article.Content)
                                    </div>
                                    <div class="author-box" id="authorBox">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img class="authorPhoto img-rounded img-responsive" id="authorPhoto" src="http://www.nintendoparty.com.br/img/authorsImages/mariotoledo.jpg">
                                            </div>
                                            <div class="col-sm-10" id="authorDescription"><b>Mario Toledo</b> possui cabelo em pé e barba pra fazer por causa da N-Party. Seu 3DS está com a tela quebrada de tanto uso, e sua Jynx se chama "Preta Gil".</div>
                                            <script>
											    renderAuthorArea("Mario Toledo");
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-top: 30px;"><div class="panel-heading"><b>Leia também</b></div><div class="list-group PopularPosts "><li class="list-group-item"><a href="http://www.nintendo.nparty.com.br/2015/10/video-mostra-como-diferentes-roupas.html"></a><div class="item-thumbnail-only"><a href="http://www.nintendo.nparty.com.br/2015/10/video-mostra-como-diferentes-roupas.html"><div class="item-thumbnail" style="margin-bottom: 0px;"><img alt="Vídeo mostra como diferentes roupas interferem em Zelda: Tri Force Heroes" border="0" height="75" src="http://3.bp.blogspot.com/-bzeh3PWWa74/ViEKbCef9SI/AAAAAAAAmsE/tEmoXwfX4xQ/s72-c/zeldaroupas.jpg" width="75"></div><div style="padding-top: 20px; padding-bottom: 20px;">Vídeo mostra como diferentes roupas interferem em Zelda: Tri Force Heroes</div><div style="clear: both;"></div></a></div></li><li class="list-group-item"><a href="http://www.nintendo.nparty.com.br/2015/10/preview-legend-of-zelda-tri-force-heroes.html"></a><div class="item-thumbnail-only"><a href="http://www.nintendo.nparty.com.br/2015/10/preview-legend-of-zelda-tri-force-heroes.html"><div class="item-thumbnail" style="margin-bottom: 0px;"><img alt="Preview: The Legend of Zelda: Tri Force Heroes" border="0" height="75" src="http://2.bp.blogspot.com/-rmBwm2UxtrI/Vhs9RKuZIDI/AAAAAAAAmlU/EHbMsLtN6rs/s72-c/zeldaTriForce.jpg" width="75"></div><div style="padding-top: 20px; padding-bottom: 20px;">Preview: The Legend of Zelda: Tri Force Heroes</div><div style="clear: both;"></div></a></div></li><li class="list-group-item"><a href="http://www.nintendo.nparty.com.br/2015/09/europa-pre-venda-de-zelda-tri-force.html"></a><div class="item-thumbnail-only"><a href="http://www.nintendo.nparty.com.br/2015/09/europa-pre-venda-de-zelda-tri-force.html"><div class="item-thumbnail" style="margin-bottom: 0px;"><img alt="Europa: Pré-Venda de Zelda: Tri Force Heroes garante brinde exclusivo aos consumidores" border="0" height="75" src="http://2.bp.blogspot.com/-2CIyucM5JJQ/Vfx_WpWrqGI/AAAAAAAAMQI/ej7Urq2wINk/s72-c/noticias_tri-force-heroes-links-252_edited.jpg" width="75"></div><div style="padding-top: 20px; padding-bottom: 20px;">Europa: Pré-Venda de Zelda: Tri Force Heroes garante brinde exclusivo aos consumidores</div><div style="clear: both;"></div></a></div></li></div></div>
                </div>
            </div>
            <div class="col-lg-4">
                @{Html.RenderPartial("Sidebars/Nintendo");}
            </div>
        </div>
    </div>
</div>
