@model CampeonatosNParty.Models.ViewModel.UsuariosDetailView
@{
    if(Model != null)
    {
        ViewBag.Title = Model.usuario.Nome;

        string apelido = string.IsNullOrEmpty(Model.usuario.Apelido) ? "" : "(" + Model.usuario.Apelido + ")";
        
        <ul class="breadcrumb">
            <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
            <li><a href="@Url.Content("/Jogadores")">Jogadores</a> <span class="divider">/</span></li>
            <li class="active">@Model.usuario.Nome @apelido</li>
        </ul>

        <div class="row">
            <div class="span4">
                <img src="@Model.usuario.getUrlFotoPerfil()" alt="@Model.usuario.Nome" style="margin-bottom: 20px;"/>
            </div>
            <div class="span8">
                <h2>@Model.usuario.Nome <small>@apelido</small></h2>
                <div class="row">
                    <div class="span4">
                    @{
                        <div class="pontuacao"><b>Pontuação</b>: @Model.Pontuacao pontos</div>
                        if (Model.usuario.Nascimento != null && Model.usuario.Nascimento != DateTime.MinValue)
                        {
                            int idade = DateTime.Now.Year - Model.usuario.Nascimento.Year;
                            if (DateTime.Now.Month < Model.usuario.Nascimento.Month || 
                                (DateTime.Now.Month == Model.usuario.Nascimento.Month && 
                                DateTime.Now.Day < Model.usuario.Nascimento.Day))
                            {
                                idade--;
                            }
                            <div><b>Idade</b>: @idade anos</div>
                        }
                        if (Model.cidade != null && !string.IsNullOrEmpty(Model.cidade.Nome))
                        {
                            string cidadeSigla = Model.estado != null &&
                                    !string.IsNullOrEmpty(Model.estado.Sigla) ?
                                    Model.cidade.Nome + " - " + Model.estado.Sigla :
                                    Model.cidade.Nome;
                            <div><b>Cidade</b>: @cidadeSigla</div>
                        }
                    }
                    </div>
                </div>
            </div>
        </div>
    
         <div class="row">
            <div class="span12">
                @{
                    if (Model.campeonatos != null && Model.campeonatos.Count<CampeonatosNParty.Models.Database.ClassificacaoPorJogador[]>() > 0)
                    {
                        <h3 id="campeonatosHeader">Histórico de Campeonatos</h3>
                        <script type="text/javascript">
                            var showHeaderCampeonatos = false;
                        </script>
                        foreach (CampeonatosNParty.Models.Database.ClassificacaoPorJogador[] campeonatosArray in Model.campeonatos)
                        {
                            <ul class="thumbnails">
                                @foreach (CampeonatosNParty.Models.Database.ClassificacaoPorJogador campeonato in campeonatosArray)
                                {
                                    if (campeonato != null)
                                    {
                                        <li class="span3">
                                            <a class="thumbnail" href="@Url.Content("~/Campeonatos/Detalhes/" + campeonato.IdCampeonato)">
                                                <img alt="@campeonato.NomeJogo" src="@campeonato.getImagemURLJogo()" />
                                                <h4>@campeonato.NomeJogo</h4>
                                                <div class="textDescription">
                                                    @if (!string.IsNullOrEmpty(campeonato.NomeEvento))
                                                    {
                                                        <div><b>Evento:</b> @campeonato.NomeEvento</div>
                                                    }
                                                    @if (campeonato.DataCampeonato != null)
                                                    {
                                                        <div><b>Data:</b> @campeonato.DataCampeonato.ToString("dd/MM/yyyy")</div>
                                                    }
                                                    @{
                                                        string classificacao = campeonato.Colocacao == 0 ? "Não classificado" : campeonato.Colocacao.ToString() + "º lugar";
                                                        <div><b>Colocação:</b> @classificacao</div>
                                                    }
                                                </div>
                                            </a>
                                        </li>
                                        <script type="text/javascript">
                                            showHeaderCampeonatos = true;
                                        </script>
                                    }
                                }
                            </ul>
                        }
                    }
                }
            </div>
        </div>
    }
    else
    {
        Html.RenderPartial("ErroNotFound");
    }
}
<script type="text/javascript">
    if (showHeaderCampeonatos == false) {
        document.getElementById('campeonatosHeader').style.display = 'none';
    }
</script>