@model CampeonatosNParty.Models.ViewModel.UsuariosDetailView
@{
    CampeonatosNParty.Models.Database.Cidade cidade = CampeonatosNParty.Models.Database.Cidade.WithIdentity(Model.usuario.Id_Cidade);
    CampeonatosNParty.Models.Database.Estado estado = CampeonatosNParty.Models.Database.Estado.WithIdentity(Model.usuario.Id_Estado);
    CampeonatosNParty.Models.Database.Ranking ranking = CampeonatosNParty.Models.Database.Ranking.WithMember("IdUsuario", Model.usuario.Id);
    
    if(Model != null)
    {
        ViewBag.Title = Model.usuario.Nome;

        string apelido = string.IsNullOrEmpty(Model.usuario.Apelido) ? "" : "(" + Model.usuario.Apelido + ")";
        
        <ul class="breadcrumb">
            <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
            <li><a href="@Url.Content("/Jogadores")">Jogadores</a> <span class="divider">/</span></li>
            <li class="active">@Model.usuario.Nome @apelido</li>
        </ul>

        <div class="page-header">
          <h2>@Model.usuario.Nome <small>@apelido</small></h2><br />
        </div>
        <div class="row">
            <div class="span3">
                <h3>Dados Gerais</h3>
                <img src="@Model.usuario.UrlFotoPerfil" alt="@Model.usuario.UrlFotoPerfil" style="margin-bottom: 20px;"/>
            @{
                if (ranking != null)
                {
                    <div class="row">
                        <div class="span1"><b>Pontuação</b></div>
                        <div class="span2">@ranking.Pontos pontos</div>
                    </div>
                }
                if(cidade != null && !string.IsNullOrEmpty(cidade.Nome))
                {
                    string cidadeSigla = estado != null && !string.IsNullOrEmpty(estado.Sigla) ? cidade.Nome + " - " + estado.Sigla : cidade.Nome;
                    <div class="row">
                        <div class="span1"><b>Cidade</b></div>
                        <div class="span2">@cidadeSigla</div>
                    </div>
                }
                if (!string.IsNullOrEmpty(Model.usuario.LiveId))
                {
                    <div class="row">
                        <div class="span1"><b>Live Id</b></div>
                        <div class="span2">@Model.usuario.LiveId</div>
                    </div>
                }
                if (!string.IsNullOrEmpty(Model.usuario.PsnId))
                {
                    <div class="row">
                        <div class="span1"><b>PSN Id</b></div>
                        <div class="span2">@Model.usuario.PsnId</div>
                    </div>
                }
            }
            </div>
            <div class="span8">
                @{
                    if(Model.classificacao.Count > 0)
                    {
                        <h3>Histórico de campeonatos participados</h3>
                        int i = 0;
                    
                        foreach (CampeonatosNParty.Models.Database.ClassificacaoPorJogador classificacao in Model.classificacao)
                        {
                            if (i == 0)
                            {
                                @Html.Raw("<ul class=\"thumbnails\">");
                            }
                            @Html.Raw("<li class=\"span2\">");
                            <a class="thumbnail">
                                <img data-src="holder.js/300x300" alt="@classificacao.NomeCampeonato" src="@classificacao.ImagemJogoCampeonato" />
				                <h4>@classificacao.NomeCampeonato</h4>
				                <div class="textDescription">
                                    @if (!string.IsNullOrEmpty(classificacao.NomeEvento))
                                    {
                                        <div><b>Evento:</b> @classificacao.NomeEvento</div>
                                    }
                                    @if (classificacao.DataCampeonato != null)
                                    {
                                        <div><b>Data:</b> @classificacao.DataCampeonato.ToString("dd/MM/yyyy")</div>
                                    }
                                    @if (classificacao.Pontuacao > 0)
                                    {
                                        <div><b>Pontos:</b> @classificacao.Pontuacao</div>
                                    }
				                </div>
                            </a>
                            @Html.Raw("</li>")
                            i++;

                            if (classificacao == Model.classificacao.Last() || i == 4)
                            {
                                @Html.Raw("</ul>")
                                i = 0;
                            }
                        }
                    }
                }
            </div>
        </div>
    }
}
