@using EixoX.UI
@using EixoX.Html
@model CampeonatosNParty.Models.Database.Usuarios
@{
    ViewBag.Title = "Editar Minhas Informações";
    EixoX.Html.BootstrapPresenter<CampeonatosNParty.Models.Database.Usuarios> presenter = EixoX.Html.BootstrapPresenter<CampeonatosNParty.Models.Database.Usuarios>.GetInstance(1046);
    bool validate = "post".Equals(Request.HttpMethod, StringComparison.OrdinalIgnoreCase);
}

<h2>Editar Minhas Informações</h2>
<p>Preencha os campos abaixo corretamente, e clique em "Cadastrar" para prosseguir com o cadastro.</p>
<form class="form-horizontal" method="post">
    @if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["RegisterError"]))
    {
    <div class="row">
        <div class="span12">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["RegisterError"]
            </div>
        </div>
    </div>
    }
    <div class="row">
        <div class="span6">
            <h4>Informações pessoais</h4>
            @{presenter["Apelido"].Render(this.Output, Model, validate);}
            @{presenter["Telefone"].Render(this.Output, Model, validate);}
           <label class="control-label" for="Id_Estado">Estado*</label>
            <div class="controls">
                <select name="Id_Estado" id="Id_Estado" onchange="loadCities(this.value)">
                    <option value="">Selecione</option>
                    @foreach (CampeonatosNParty.Models.Database.Estado item in CampeonatosNParty.Models.Database.Estado.Select().OrderBy("Sigla"))
                    {
                        <option value="@item.EstadoId">@item.Sigla</option>
                    }
                </select>
            </div>
            <br />
            <label class="control-label" for="Id_Cidade">Cidade*</label>
            <div class="controls">
                <select name="Id_Cidade" id="Id_Cidade">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h4>Informações adicionais</h4>
            @{presenter["Newsletter"].Render(this.Output, Model, validate);}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn" href="@Url.Content("~/Home/Login")">Cancelar</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Id_Cidade').prop('disabled', true);
    });
    function loadCities(selectedCode) {
        $.ajax({
            url: "@Url.Content("~/Ajax/CarregarCidades/")" + selectedCode,
            success: function (json) {
                $('#Id_Cidade').prop('disabled', false);
                var optionArray = [];
                optionArray.push('<option value="">Selecione</option>');

                $.each(json, function (i, item) {
                    if (selectedCode == item.CidadeId) {
                        optionArray.push('<option value="' + item.CidadeId + '" selected="selected">' + item.Nome + '</option>');
                    }
                    else {
                        optionArray.push('<option value="' + item.CidadeId + '">' + item.Nome + '</option>');
                    }
                });


                $('#Id_Cidade').html(optionArray.join(''));
            }
        });
    }
</script>
