@using EixoX.UI
@using EixoX.Html
@model CampeonatosNParty.Models.StructModel.MinhasInformacoes
@{
    ViewBag.Title = "Editar Minhas Informações";
    EixoX.Html.BootstrapPresenter<CampeonatosNParty.Models.StructModel.MinhasInformacoes> presenter = EixoX.Html.BootstrapPresenter<CampeonatosNParty.Models.StructModel.MinhasInformacoes>.GetInstance(1046);
    bool validate = "post".Equals(Request.HttpMethod, StringComparison.OrdinalIgnoreCase);
}

<h2>Editar Minhas Informações</h2>
<p>Preencha os campos abaixo corretamente, e clique em "Cadastrar" para prosseguir com o cadastro.</p>
<form class="form-horizontal" method="post">
    @if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["RegisterError"]))
    {
    <div class="row">
        <div class="span12">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["RegisterError"]
            </div>
        </div>
    </div>
    }
    <div class="row">
        <div class="span6">
            <h4>Informações pessoais</h4>
            @{presenter["Apelido"].Render(this.Output, Model, validate);}
            @{presenter["Telefone"].Render(this.Output, Model, validate);}
            @{presenter["UrlFotoPerfil"].Render(this.Output, Model, validate);}
           <label class="control-label" for="Id_Estado">Estado</label>
            <div class="controls">
                <select name="Id_Estado" id="Id_Estado" onchange="loadCities(this.value)">
                    <option value="">Selecione</option>
                    @foreach (CampeonatosNParty.Models.Database.Estado item in CampeonatosNParty.Models.Database.Estado.Select().OrderBy("Sigla"))
                    {
                        string selected = item.EstadoId == Model.Id_Estado ? "selected" : "";
                        <option @selected value="@item.EstadoId">@item.Sigla</option>
                    }
                </select>
            </div>
            <br />
            <label class="control-label" for="Id_Cidade">Cidade</label>
            <div class="controls">
                <select name="Id_Cidade" id="Id_Cidade">
                    <option value="">Selecione</option>
                    @{
                        if(Model.Id_Estado > 0)
                        {
                            foreach (CampeonatosNParty.Models.Database.Cidade item in CampeonatosNParty.Models.Database.Cidade.Select().OrderBy("Nome"))
                            {
                                string selected = item.CidadeId == Model.Id_Cidade ? "selected" : "";
                                <option @selected value="@item.EstadoId">@item.Nome</option>
                            }
                        } else {
                            <script>$('#Id_Cidade').prop('disabled', true);</script>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="span6">
            <h4>Informações adicionais</h4>
            @{presenter["Newsletter"].Render(this.Output, Model, validate);}
            @{presenter["PsnId"].Render(this.Output, Model, validate);}
            @{presenter["LiveId"].Render(this.Output, Model, validate);}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn" href="@Url.Content("~/Home/Login")">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function loadCities(selectedCode) {
        $.ajax({
            url: "@Url.Content("~/Ajax/CarregarCidades/")" + selectedCode,
            success: function (json) {
                $('#Id_Cidade').prop('disabled', false);
                var optionArray = [];
                optionArray.push('<option value="">Selecione</option>');

                $.each(json, function (i, item) {
                    if (selectedCode == item.CidadeId) {
                        optionArray.push('<option value="' + item.CidadeId + '" selected="selected">' + item.Nome + '</option>');
                    }
                    else {
                        optionArray.push('<option value="' + item.CidadeId + '">' + item.Nome + '</option>');
                    }
                });


                $('#Id_Cidade').html(optionArray.join(''));
            }
        });
    }
</script>
