@using CampeonatosNParty.Models.Database
@model EixoX.Data.ClassSelectResult<JogadoresItem>
@{
    ViewBag.Title = "Jogadores";

    List<JogadoresItem> jogadores;
    if(Model == null)
    {
        jogadores = NPartyDb<JogadoresItem>.Instance.Select().OrderBy("Pontos", EixoX.Data.SortDirection.Descending).ToList();
    }
    else
    {
        jogadores = Model.ToList();
    }

    int currentPage = Request.QueryString["page"] == null ? 0 : Int32.Parse(Request.QueryString["page"]);
    string filter = Request.QueryString["filter"] != null ? "filter=" + Request.QueryString["filter"] : "";
   
}

<ul class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
    <li class="active">Jogadores</li>
</ul>
<div class="page-header">
  <h1>Jogadores <small>Confira todos os jogadores que ja participaram de nossos campeonatos</small></h1>
</div>
<form method="get" class="form-search pull-right">
    <div class="input-append">
        <input type="text" name="filter" placeholder="Procurar por jogador" class="search-query" style="height:24px;" value="@Request.QueryString["filter"]">
        <button class="btn btn-primary">
            <i class="icon-search icon-white"></i>
        </button>
    </div>
</form>
@{
    if (jogadores.Count > 0)
    {
        <div class="row">
            <div class="span12">
                   @{
                        foreach (JogadoresItem[] jogadoresArray in jogadores.Segment(6))
                        {
                            <ul class="thumbnails">
                                
                                    @foreach (JogadoresItem jogador in jogadoresArray)
                                    {
                                        if(jogador != null)
                                        {
                                            <li class="span2">
                                                <a class="thumbnail" href="@Url.Content("~/Jogadores/Detalhes/" + jogador.IdUsuario)">
                                                    <img data-src="holder.js/300x300" alt="Imagem Perfil" src="@jogador.UrlFotoPerfil" />
				                                    <h4>@jogador.NomeUsuario</h4>
				                                    <div class="textDescription">
                                                        @if (!string.IsNullOrEmpty(jogador.ApelidoUsuario))
                                                        {
                                                            <div><b>Apelido:</b> @jogador.ApelidoUsuario</div>
                                                        }
                                                        @if (!string.IsNullOrEmpty(jogador.Estado))
                                                        {
                                                            <div><b>Estado:</b> @jogador.Estado</div>
                                                        }
                                                        <div><b>Idade:</b> @jogador.Pontos anos</div>
				                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                            </ul>
                        }
                    }
                
            </div>
        </div>
    
        if(Model.HasPreviousPages || Model.HasMorePages)
        {
            @Html.Raw("<div class=\"paginationButton\">");
            filter = string.IsNullOrEmpty(filter) ? filter : "&" + filter;
            
            if(Model.HasPreviousPages)
            {
                
                <a class="pull-left btn btn-primary" href="/Jogadores/?page=@(currentPage - 1)@filter"><i class="icon-chevron-left icon-white"></i> Página anterior</a>
            }
            if(Model.HasMorePages)
            {
                <a class="pull-right btn btn-primary" href="/Jogadores/?page=@(currentPage + 1)@filter">Próxima página <i class="icon-chevron-right icon-white"></i></a>
            }
            @Html.Raw("</div>");
        }
    }
    else{
        <div class="row">
            <div class="span12">
                <p>Nenhum jogador foi encontrado.</p>
            </div>
        </div>
    }
}

