@using CampeonatosNParty.Models.Database
@model CampeonatosNParty.Models.ViewModel.MinhasConexoesView
@{
    ViewBag.Title = "Minhas Conexões";

    int currentPage = Request.QueryString["page"] == null ? 0 : Int32.Parse(Request.QueryString["page"]);
}

<ul class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
    <li class="active">Minhas Conexões</li>
</ul>
<div class="page-header">
  <h1>Minhas Conexões <small>Confira todos os jogadores com quem você esta conectado</small></h1>
</div>

@{
    if (Model.result != null && Model.result.Count > 0)
    {
        <div class="row">
            <div class="span12">
                   @{
                        foreach (UserConnections[] connectionArray in Model.result.Segment(6))
                        {
                            <ul class="thumbnails">
                                
                                    @foreach (UserConnections connection in connectionArray)
                                    {
                                        if (connection != null)
                                        {
                                            if(connection.PersonId1 != Model.currentUsuario.Id)
                                            {
                                                <li class="span2">
                                                    <a class="thumbnail" href="@Url.Content("~/Jogadores/Detalhes/" + connection.PersonId1)">
                                                        <img src="@Url.Content("~/Static/img/default.png")" class="photoSmall" style="background-image: url('@connection.getUrlFotoPerfil1()')"/>
				                                        <h4>@connection.PersonName1</h4>
				                                        <div class="textDescription">
                                                            @if (connection.isFriendCode && !string.IsNullOrEmpty(connection.FriendCode1))
                                                            {
                                                                <div><b>Friend Code:</b> @connection.FriendCode1</div>
                                                            }
                                                            @if (connection.isMiiverse && !string.IsNullOrEmpty(connection.MiiverseId1))
                                                            {
                                                                <div><b>Miiverse Id:</b> @connection.MiiverseId1</div>
                                                            }
                                                            @if (connection.isPSN && !string.IsNullOrEmpty(connection.PsnId1))
                                                            {
                                                                <div><b>PSN Id:</b> @connection.PsnId1</div>
                                                            }
                                                            @if (connection.isLive && !string.IsNullOrEmpty(connection.LiveId1))
                                                            {
                                                                <div><b>Live Id:</b> @connection.LiveId1</div>
                                                            }
				                                        </div>
                                                    </a>
                                                </li>
                                            } else {
                                                <li class="span2">
                                                    <a class="thumbnail" href="@Url.Content("~/Jogadores/Detalhes/" + connection.PersonId2)">
                                                        <img src="@Url.Content("~/Static/img/default.png")" class="photoSmall" style="background-image: url('@connection.getUrlFotoPerfil2()')"/>
				                                        <h4>@connection.PersonName2</h4>
				                                        <div class="textDescription">
                                                            @if (connection.isFriendCode && !string.IsNullOrEmpty(connection.FriendCode2))
                                                            {
                                                                <div><b>Friend Code:</b> @connection.FriendCode2</div>
                                                            }
                                                            @if (connection.isMiiverse && !string.IsNullOrEmpty(connection.MiiverseId2))
                                                            {
                                                                <div><b>Miiverse Id:</b> @connection.MiiverseId2</div>
                                                            }
                                                            @if (connection.isPSN && !string.IsNullOrEmpty(connection.PsnId2))
                                                            {
                                                                <div><b>PSN Id:</b> @connection.PsnId2</div>
                                                            }
                                                            @if (connection.isLive && !string.IsNullOrEmpty(connection.LiveId2))
                                                            {
                                                                <div><b>Live Id:</b> @connection.LiveId2</div>
                                                            }
				                                        </div>
                                                    </a>
                                                </li>
                                            }
                                            
                                        }
                                    }
                            </ul>
                        }
                    }
                
            </div>
        </div>
    
        if (Model.result.HasPreviousPages || Model.result.HasMorePages)
        {
            @Html.Raw("<div class=\"paginationButton\">");
            
            if(Model.result.HasPreviousPages)
            {
                
                <a class="pull-left btn btn-primary" href="/Jogadores/MinhasConexoes?page=@(currentPage - 1)"><i class="icon-chevron-left icon-white"></i> Página anterior</a>
            }
            if (Model.result.HasMorePages)
            {
                <a class="pull-right btn btn-primary" href="/Jogadores/MinhasConexoes?page=@(currentPage + 1)">Próxima página <i class="icon-chevron-right icon-white"></i></a>
            }
            @Html.Raw("</div>");
        }
    }
    else{
        <div class="row">
            <div class="span12">
                <p>Nenhuma conexão foi encontrada.</p>
            </div>
        </div>
    }
}