@model EixoX.Data.ClassSelectResult<CampeonatosNParty.Models.Database.Notificacoes>
@{
    ViewBag.Title = "Notificações";
    int currentPage = Request.QueryString["page"] == null ? 0 : Int32.Parse(Request.QueryString["page"]);
}

@section FacebookMeta{
    <meta property="og:image" content="http://www.images.nparty.com.br/connect/connectFacebook.png" />
    <meta property="og:title" content="N-Party Connect" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://connect.nparty.com.br" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name" content="N-Party Connect" />
    <meta property="og:description" content="Uma rede online para jogadores e fãs da Nintendo poderem trocar Friend Code, participar de campeonatos e muito mais." />
}

<ul class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
    <li class="active">Notificações</li>
</ul>
<h2>Notificações <small>Confira abaixo a sua lista de notificações</small></h2>
@{
    if (Model != null && Model.Count() > 0)
    {
        <div class="row">
            <div class="span12">
                <ul class="notifications">
                    @foreach (CampeonatosNParty.Models.Database.Notificacoes notificacao in Model)
                    {
                        if (!string.IsNullOrEmpty(notificacao.Titulo) && !string.IsNullOrEmpty(notificacao.Corpo))
                        {
                            string bodyNoHtml = System.Text.RegularExpressions.Regex.Replace(notificacao.Corpo, @"<[^>]*>", String.Empty);
                            string corpo = bodyNoHtml.Length > 100 ? bodyNoHtml.Substring(0, 100) + "..." : bodyNoHtml;
                            string id = "icon-" + notificacao.Id;
                            string iconClass = notificacao.FoiLida ? "fa fa-circle-o icon" : "fa fa-circle icon";
                            <li>
                                <h4>
                                    <i id="@id" class="@iconClass" style="padding-top: 2px;"></i>
                                    <a href="#notificationModal" data-toggle="modal" role="button" onclick="showHeader(@notificacao.Id, '@notificacao.Titulo', '@notificacao.Corpo');">@notificacao.Titulo</a>
                                </h4>
                                <span class="data">@notificacao.DateSent.ToString("dd/MM/yyyy")</span>
                                <p style="font-size: 12px;">@corpo</p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        if (Model.HasPreviousPages || Model.HasMorePages)
        {
            @Html.Raw("<div class=\"paginationButton\">");

            if (Model.HasPreviousPages)
            {
                <a class="pull-left btn btn-primary" href="/Jogadores/Notificacoes/?page=@(currentPage - 1)"><i class="icon-chevron-left icon-white"></i> Página anterior</a>
            }
            if (Model.HasMorePages)
            {
                <a class="pull-right btn btn-primary" href="/Jogadores/Notificacoes/?page=@(currentPage + 1)">Próxima página <i class="icon-chevron-right icon-white"></i></a>
            }
            @Html.Raw("</div>");
        }
    }
    else
    {
        <p>Não foi encontrada nenhuma notificação no momento.</p>
    }
}
<!-- Modal -->
<div id="notificationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="notificationModalLabel"></h3>
  </div>
  <div class="modal-body">
    <p id="notificationModalBody"></p>
  </div>
</div>

<script>
    function showHeader(notificId, header, body) {
        $('#notificationModalLabel').text(header);
        $('#notificationModalBody').html(body);

        $.ajax({
            url: '@Url.Content("~/Ajax/MarcarLidaNotificacao/")',
            type: 'POST',
            data: JSON.stringify({notificationId: notificId}),
            contentType: 'application/json',
            success: function (data) {
                $('#icon-' + notificId).attr("class", "fa fa-circle-o icon");

                if (parseInt(data) > 0) {
                    $('#notificationCount').css("display", "inline-block");
                    $('#notificationCount').html(data)
                } else {
                    $('#notificationCount').css("display", "none");
                }
            }
        });
    }
</script>
