@using EixoX.UI
@using EixoX.Html
@model CampeonatosNParty.Models.Database.Usuarios
@{
    ViewBag.Title = "Registrar";
    EixoX.Html.BootstrapPresenter<CampeonatosNParty.Models.Database.Usuarios> presenter =
        new EixoX.Html.Bootstrap2Presenter<CampeonatosNParty.Models.Database.Usuarios>(1046);
    bool validate = "post".Equals(Request.HttpMethod, StringComparison.OrdinalIgnoreCase);
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
<h2>Criar uma conta</h2>
<p>Preencha os campos abaixo corretamente, e clique em "Cadastrar" para prosseguir com o cadastro.</p>
<form class="form-horizontal" method="post">
    @if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["RegisterError"]))
    {
    <div class="row">
        <div class="span12">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["RegisterError"]
            </div>
        </div>
    </div>
    }
    <div class="row">
        <div class="span6">
            <h4>Informações pessoais</h4>
            @{presenter["Nome"].Render(this.Output, Model, validate);}
            @{presenter["Sobrenome"].Render(this.Output, Model, validate);}
            <div class="control-group">
                <label for="BirthdayDay" class="control-label">Data de Nascimento</label>
                <div class="controls">
                    <select name="BirthdayDay" class="input-mini">
                        @for(int i = 1; i <= 31; i++)
                        {
                            <option value="@i">@i.ToString()</option>
                        }
                    </select>
                    <select name="BirthdayMonth" class="input-mini">
                        @for(int i = 1; i <= 12; i++)
                        {
                            <option value="@i">@i.ToString()</option>
                        }
                    </select>
                    <select name="BirthdayYear" class="input-small">
                        @for(int i = 0; i < 100; i++)
                        {
                            int year = DateTime.Now.Year - 10 - i;
                                        
                            <option value="@year">@year.ToString()</option>
                        }
                    </select>
                </div>
            </div>
           <label class="control-label" for="Id_Estado">Estado*</label>
            <div class="controls">
                <select name="Id_Estado" id="Id_Estado" onchange="loadCities(this.value)">
                    <option value="">Selecione</option>
                    @foreach (CampeonatosNParty.Models.Database.Estado item in CampeonatosNParty.Models.Database.Estado.Select().OrderBy("Sigla"))
                    {
                        <option value="@item.EstadoId">@item.Sigla</option>
                    }
                </select>
            </div>
            <br />
            <label class="control-label" for="Id_Cidade">Cidade*</label>
            <div class="controls">
                <select name="Id_Cidade" id="Id_Cidade">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
        <div class="span6">
            <h4>Informações da conta</h4>
            @{presenter["Email"].Render(this.Output, Model, validate);}
            @{presenter["Senha"].Render(this.Output, Model, validate);}
            <div class="control-group">
                <label for="ConfirmacaoSenha" class="control-label">Confirme sua senha*</label><div class="controls">
                <input type="password" name="ConfirmacaoSenha" id="ConfirmacaoSenha" value="" placeholder=""></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12"><br />
            <h4>Informações adicionais</h4>
            @{presenter["Newsletter"].Render(this.Output, Model, validate);}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h4>Termos de privacidade</h4>
            <div class="control-group">
                 <div class="controls">
                    <textarea style="width: 98%; height: 200px;">Este site é operado pelo grupo N-Party, e garante a proteção de todos os dados neles contidos. A coleta, como parte do gerenciamento, processamento ou utilização das informações pessoais necessárias, são feitas seguindo estritamente às normas brasileiras de Proteção das Informações.
Você pode visitar nosso site e obter informações sem precisar nos fornecer nenhum dado pessoal. Durante a sua visita ao nosso site, você permanecerá estritamente anônimo e em cada solicitação de página através de seu navegador de Internet serão enviadas informações de conexão, como data, município de residência, ou nome de seu fornecedor de serviços de internet que serão utilizadas por nós, sem referência pessoal, a menos que você tenha se conectado ao site com seu nome de usuário e senha.
Informações pessoais fornecidas por você, ao fazer um cadastro, podem incluir, entre outras:

- Nome Completo
- Data de Nascimento
- E-mail
- Cidade e Estado onde reside

Caso as informações sejam usadas para uma finalidade que requeira o seu consentimento, em conformidade com as disposições legais, lhe solicitaremos, individualmente, pelo consentimento explícito. Uma vez dado o consentimento pra o uso de suas informações, você poderá revogá-lo a qualquer momento para usos futuros.
Parte de nossos serviços exige que sejam utilizados cookies. Cookies são pequenas quantidades de dados armazenados pelo seu browser no seu computador. Os cookies podem armazenar informações sobre sua visita ao nosso site. A maioria dos navegadores é inicialmente configurada para aceitar cookies. No entanto, você pode reconfigurar seu navegador para recusar cookies ou para solicitar previamente uma confirmação. Se você rejeitar os cookies, como consequência nem todas as nossas ofertas de trabalho serão divulgadas para você.
Este site utiliza o Google Analytics, um serviço web analytics fornecidos pela Google Inc. ("Google"). O Google Analytics utiliza "cookies", arquivos de texto que são armazenados no seu computador para ajudar a analisar o uso do site. A informação gerada pelo cookie acerca da sua utilização deste website (incluindo o seu endereço IP) é enviada para um servidor do Google, onde são armazenados. O Google utiliza estas informações para avaliar uso do website, compilando relatórios sobre a atividade no website para operadores e fornecimento de atividade do website e outros serviços relacionados com a Internet. Além disso, o Google igualmente não pode transferir estas informações a terceiros, exceto se exigido por lei ou para terceiros que processem a informação em nome do Google, sob sua exclusive responsabilidade. O Google não associará o seu endereço IP com quaisquer outros dados mantidos pelo Google. Você pode recusar o uso de cookies alterando as configurações do seu navegador, no entanto nem todas as funcionalidades do site estarão disponíveis. Ao utilizar este site, você concorda com o processamento de dados pelo Google na forma descrita e para o referido fim.
Você tem o direito de a qualquer momento receber e corrigir, adicionar ou apagar informações sobre seus dados pessoais armazenados. Os nossos contatos podem ser encontrados no site.</textarea><br /><br />
                     <input type="checkbox" name="Termos" id="Termos" value=""/> Li e estou de acordo com os termos
                </div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label for="BirthdayDay" class="control-label">Digite os caracteres conforme estão na imagem</label>
        <div class="controls">
            <img src="@Url.Action("GetCaptchaImage")" /><br /><br />
            <input type="text" name="Captcha" id="Captcha" placeholder="Digite aqui os caracteres acima" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a class="btn" href="@Url.Content("~/Home/Login")">Cancelar</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    jQuery(function ($) {
        $("#Telefone").mask("(99) 99999999?9");
    });
    $('form').submit(function () {
        if ($('#Termos').is(':checked')) {
            return true;
        }
        alert("Você precisa estar de acordo com nossos Termos de Privacidade antes de continuar");
        return false
    });
    $(document).ready(function () {
        $('#Id_Cidade').prop('disabled', true);
    });
    function loadCities(selectedCode) {
        if (selectedCode == 0) {
            $('#Id_Cidade').prop('disabled', true);
        } else {
            $.ajax({
                url: "@Url.Content("~/Ajax/CarregarCidades/")" + selectedCode,
                success: function (json) {
                    $('#Id_Cidade').prop('disabled', false);
                    var optionArray = [];
                    optionArray.push('<option value="">Selecione</option>');

                    $.each(json, function (i, item) {
                        if (selectedCode == item.CidadeId) {
                            optionArray.push('<option value="' + item.CidadeId + '" selected="selected">' + item.Nome + '</option>');
                        }
                        else {
                            optionArray.push('<option value="' + item.CidadeId + '">' + item.Nome + '</option>');
                        }
                    });


                    $('#Id_Cidade').html(optionArray.join(''));
                }
            });
        }
    }
</script>
