@using NParty.Database.ESports
@{
    ViewBag.Title = "Gerenciar Jogos competitivos";
    List<ESportsGame> games = (List<ESportsGame>)ViewData["games"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a></li>
    <li><a href="@Url.Content("/ESports")">ESports</a></li>
    <li class="active">Gerenciar Jogos competitivos</li>
</ol>

<h2>Gerenciar Jogos competitivos <a class="btn btn-primary" href="@Url.Content("~/ESports/Game/New")">Novo</a></h2>

@if (games == null || games.Count == 0)
{
    <div class="alert alert-info">
        Não encontramos nenhum jogo competitivo cadastrado
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ESportsGame game in games)
                {
                    <tr>
                        <td style="width: 50px;"><img src="@(string.IsNullOrEmpty(game.ESportsGameLogoURL) ? Url.Content("~/Content/img/esports-default.jpg") : game.ESportsGameLogoURL)" style="width: 50px; height: 50px;" /></td>
                        <td style="vertical-align: middle;"><a href="@Url.Content("~/ESports/Game/Detail/" + game.ESportsGameId)">@game.ESportsGameName</a></td>
                        <td style="vertical-align: middle;"><a href="@Url.Content("~/ESports/Game/Edit/" + game.ESportsGameId)" class="btn btn-primary">Editar</a><a href="#" class="btn btn-default">Gerenciar Regras</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

