@using NParty.Admin.Models
@{
    ViewBag.Title = "Gerenciar regras de jogos competitivos";
    ESportsGameRuleData ruleData = (ESportsGameRuleData)ViewData["gameRuleData"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a></li>
    <li><a href="@Url.Content("/ESports")">ESports</a></li>
    <li><a href="@Url.Content("/ESports/Game")">Gerenciar Jogos competitivos</a></li>
    @if (ruleData != null && ruleData.ESportsGame != null)
    {
        <li>@ruleData.ESportsGame.ESportsGameName</li>
    }
    <li class="active">Regras</li>
</ol>

@if(ruleData == null || ruleData.ESportsGame == null)
{
    <div class="alert alert-info">Não foi possível encontrar o jogo desejado. Será que você não digitou o id errado?</div>
}
else
{
    <h2>Gerenciar regras para @ruleData.ESportsGame.ESportsGameName <a class="btn btn-primary" href="@Url.Content("~/ESports/GameRule/New/" + ruleData.ESportsGame.ESportsGameId)">Novo</a></h2>

    if (ruleData.ESportsGameRules == null || ruleData.ESportsGameRules.Count == 0)
    {
        <div class="alert alert-info">
            Não encontramos nenhuma regra cadastrada
        </div>
    } else
    {
        <div class="row">
            @foreach (NParty.Database.ESports.ESportsGameRule gameRule in ruleData.ESportsGameRules)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">@gameRule.ESportsGameRuleName <a style="margin-top: -5px;" class="btn btn-primary btn-sm pull-right" href="@Url.Content("~/ESports/GameRule/Edit/" + gameRule.ESportsGameId)">Editar</a></div>
                        <div class="panel-body">
                            @gameRule.ESportsGameRuleDescription
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}