@using EixoX.UI
@using EixoX.Html
@model CampeonatosNParty.Models.StructModel.DadosConexao
@{
    ViewBag.Title = "Dados de Conexão";
    EixoX.Html.BootstrapPresenter<CampeonatosNParty.Models.StructModel.DadosBasicos> presenter =
    EixoX.Html.BootstrapPresenter<CampeonatosNParty.Models.StructModel.DadosBasicos>.GetInstance(1046);
    bool validate = "post".Equals(Request.HttpMethod, StringComparison.OrdinalIgnoreCase);
}

@section FacebookMeta{
    <meta property="og:image" content="http://www.images.nparty.com.br/connect/connectFacebook.png" />
    <meta property="og:title" content="N-Party Connect" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://connect.nparty.com.br" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name" content="N-Party Connect" />
    <meta property="og:description" content="Uma rede online para jogadores e fãs da Nintendo poderem trocar Friend Code, participar de campeonatos e muito mais." />
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
<h2>Configurações <small>Preencha as informações abaixo e clique em "Salvar" para alterar seus dados de conexão</small></h2>
<div class="row">
    @{
        Html.RenderPartial("MenuConfiguracoes");
    }
    
        <form class="form" method="post">
            <div class="span8" style="padding-top: 10px;">
            @if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["RegisterError"]))
            {
                <div class="row">
                    <div class="span8">
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["RegisterError"]
                        </div>
                    </div>
                </div>
            }
            @if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["RegisterSuccess"]))
            {
                <div class="row">
                    <div class="span8">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["RegisterSuccess"]
                        </div>
                    </div>
                </div>
            }
                <div class="row">
                    <div class="span4">
                        <div>Facebook:<br />
                            <div id="FacebookProfileUrl">
                            @{
                                if(string.IsNullOrEmpty(Model.FacebookId))
                                {
                                    <a  href="#" id="FacebookLoginButton" onclick="callFacebook()" class="btn btn-info">Conectar-me com o Facebook</a>
                                } else {
                                    <a id="FacebookRemoveButton" onclick="removeFacebook()" href="#" class="btn btn-primary"><i class="icon-remove icon-white"></i> Remover perfil do Facebook</a>
                                }
                            }
                            </div>
                        </div><br />
                        <div class="control-group">
                            <label class="control-label" for="SteamId">Steam Id</label>
                            <div class="controls">
                                  <input name="SteamId" type="text" id="SteamId" value="@Model.SteamId" placeholder="Insira o seu id do Steam"/>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="PSNId">PSN Id</label>
                            <div class="controls">
                                  <input name="PSNId" type="text" id="PSNId" value="@Model.PSNId" placeholder="Insira o seu id do PSN"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="LiveId">Live Id</label>
                            <div class="controls">
                                  <input name="LiveId" type="text" id="LiveId" value="@Model.LiveId" placeholder="Insira o seu id da Live"/>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="row">
                    <div class="span8">
                        <button type="submit" class="btn btn-primary btn-large">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
</div>
<script type="text/javascript">
    function callFacebook() {
        $("#FacebookLoginButton").addClass("disabled");
        FB.init({
            appId: '1437156149833942',
            status: true, 
            cookie: true, 
            xfbml: true 
        });
        FB.Event.subscribe('auth.authResponseChange', function (response) {
            if (response.status === 'connected') {
                saveProfile();
            } else if (response.status === 'not_authorized') {
                FB.login();
            } else {
                FB.login();
            }
        });
    }

  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  function saveProfile() {
      FB.api('/me', function (response) {
          var responseToSave;
          if (response.username)
              responseToSave = response.username;
          else
              responseToSave = response.id;

          $.ajax({
              url: "@Url.Content("~/Ajax/SaveFacebookProfile/?facebookId=")" + responseToSave,
              type: 'POST',
              success: function (data) {
                  $('#FacebookProfileUrl').html('<a href="http://facebook.com/'
                                                 + responseToSave
                                                 + '">http://facebook.com/'
                                                 + responseToSave
                                                 + '</a><a onclick="removeFacebook()" id="FacebookRemoveButton" href="#" style="margin-left: 10px;" class="btn btn-small btn-primary"><i class="icon-remove icon-white"></i></a>');
              }
          });
    });
  }



    function removeFacebook() {
        $("#FacebookRemoveButton").addClass("disabled");
        $.ajax({
            url: "@Url.Content("~/Ajax/NullifyFacebookProfile/")",
            type: 'POST',
            success: function (data) {
                $('#FacebookProfileUrl').html(' <a href="#" id="FacebookLoginButton" onclick="callFacebook()" class="btn btn-info">Conectar-me com o Facebook</a>');
            }
        });
    }
        jQuery(function ($) {
            $("#Telefone").mask("(99) 99999999?9");
        });

        function callFacebookLogin() {
            FB.login(function (response) { });
        }
</script>
