@{
    int activeMenuId = ViewData["ActiveMenu"] == null ? 0 : (Int32)ViewData["ActiveMenu"];
    bool menuhasBorderBottom = true.Equals(ViewData["MenuHasBorderBottom"]);
}

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>N-Party - @ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://cloud.typography.com/706184/753582/css/fonts.css" type="text/css" />
    <link href="@Url.Content("~/Content/css/nparty.css")" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default" style="@(menuhasBorderBottom ? "border-bottom: 1px solid #CCCCCC;" : "")">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Content("~/")">
                    <img style="height: 100%;" class="img-responsive" alt="N-Party" src="@Url.Content("~/Content/img/logo.png")">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li class="bordered-left nintendo-menu @(activeMenuId == 1 ? "nintendo-menu-active" : "")">
                        <a href="@Url.Content("~/Nintendo")">Nintendo</a>
                    </li>
                    <li class="esports-menu  @(activeMenuId == 2 ? "esports-menu-active" : "")">
                        <a href="@Url.Content("~/ESports")">E-Sports</a>
                    </li>
                    <li class="eventos-menu @(activeMenuId ==3 ? "eventos-menu-active" : "")">
                        <a href="@Url.Content("~/Eventos")"> Eventos</a>
                    </li>
                    <li class="bordered-left dropdown">
                        <a href="#">Comunidade</a>
                        <div class="dropdown-menu">
                            <ul class="nav">
                                <li><a href="#">Usuários</a></li>
                                <li><a href="#">Widgets</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bordered-left bordered-right dropdown">
                        <a href="#">Sobre</a>
                        <div class="dropdown-menu">
                            <ul class="nav">
                                <li><a href="@Url.Content("~/Sobre/QuemSomos")">Quem Somos</a></li>
                                <li role="separator" class="divider" style="margin: 0;"></li>
                                <li><a href="#">Contato</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" action="@Url.Content("~/Home/Busca")" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Buscar por..." value="@ViewData["query"]">
                        <span class="input-group-btn">
                            <button style="height:34px;" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="bordered-left bordered-right"><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @{
            string flashMessage = (string)TempData["FlashMessage"];
            string flashMessageType = (string)TempData["FlashMessageType"];
            if (!string.IsNullOrEmpty(flashMessage))
            {
                <div class="alert-bar">
                    <div class="@flashMessageType">
                        @Html.Raw(Html.Encode(flashMessage).Replace("\r\n", "<br />\r\n"))
                    </div>
                </div>
            }
        }
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="margin-bottom: 20px;">
                    <h4>Destaques</h4>
                    <ul class="media-list">
                        <li class="media thumb-item">
                            <a href="#">
                                <div class="media-left media-middle">
                                    <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                    <div class="time">em 26/12/2012</div>
                                </div>
                            </a>
                        </li>
                        <li class="media thumb-item">
                            <a href="#">
                                <div class="media-left media-middle">
                                    <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                    <div class="time">em 26/12/2012</div>
                                </div>
                            </a>
                        </li>
                        <li class="media thumb-item" style="border: 0">
                            <a href="#">
                                <div class="media-left media-middle">
                                    <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>

                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                    <div class="time">em 26/12/2012</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" style="margin-bottom: 20px;">
                    <h4>Último Evento</h4>
                    <div>
                        <div class="media thumb-item" style="border: 0">
                            <a href="#">
                                <div class="media-left media-middle">
                                    <figure class="media-object" style="width: 80px; height: 80px; background-image: url('http://www.images.nparty.com.br/connect/eventCover/small/animefriends.png')"></figure>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Anime Friends 2015</h4>
                                    <div class="time">
                                        <div>Organizador: Yamato</div>
                                        <div>Tipo: Evento de Anime</div>
                                        <div>Local: Campo de Marte (Sao Paulo - SP)</div>
                                        <div>Data: 20/05/2015 à 22/05/2015</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <br />
                        <h4 style="margin-bottom: 2px;">Se inscreva em nossa newsletter</h4>
                        <p style="font-size: 12px; color: #FFF;">Receba em seu email um resumo de todas as novidades de nosso site e nossos eventos</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="digite seu email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Cadastrar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Siga-nos!</h4>
                    <div style="height: 60px;">
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('http://youtube.com/npartytv')" type="button"><img alt="YouTube" src="http://www.nintendoparty.com.br/img/socialIcons/youtube.jpg" title="YouTube" ></button>
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('http://instagram.com/nintendoparty')" type="button"><img alt="Instagram" src="http://www.nintendoparty.com.br/img/socialIcons/instagram.jpg" title="Instagram" ></button>
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('https://twitter.com/n_party')" type="button"><img alt="Twitter" src="http://www.nintendoparty.com.br/img/socialIcons/twitter.jpg" title="Twitter" ></button>
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('http://www.facebook.com/NParty')" type="button"><img alt="Facebook" src="http://www.nintendoparty.com.br/img/socialIcons/facebook.jpg" title="Facebook" ></button>
                    </div>
                    <br/>
                    <h4>Nossos Parceiros</h4>
                    <div style="height: 60px;">
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('http://www.projetoxpodcast.com.br')" style="padding: 0;" type="button"><img alt="Projeto X Podcast" src="http://www.nintendoparty.com.br/img/partners/projetoxpodcast.jpg" title="Projeto X Podcast" ></button>
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('http://www.lop-sp.com.br')" style="padding: 0;" type="button"><img alt="LOP-SP" src="http://www.nintendoparty.com.br/img/partners/lopsp.jpg" title="LOP-SP"></button>
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('http://www.nintendoblast.com.br')" style="padding: 0;" type="button"><img alt="Nintendo Blast" src="http://www.nintendoparty.com.br/img/partners/nintendoblast.jpg" title="Nintendo Blast"></button>
                        <button class="btn btn-default navbar-btn socialIcon" formtarget="_blank" onclick="window.open('http://www.castelonerd.com.br')" style="padding: 0;" type="button"><img alt="Castelo Nerd" src="http://www.nintendoparty.com.br/img/partners/castelonerd.jpg" title="Castelo Nerd"></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div style="background-color: #000">
        <div class="container" style="padding-top: 10px; padding-bottom: 10px; color: #fff;">
            COPYRIGHT (C) 2010 - 2015 N-Party <span style="font-size: 10px"> - licenciado sobre a <a href="http://creativecommons.org/licenses/by/3.0/br/" style="color: #FFF;" target="_blank">atribuição 3.0 da Creative Commons</a></span>
            <div class="pull-right" style="font-size: 12px">Design e desenvolvimento por <b>Mario Toledo</b></div>
        </div>
    </div>
    <script src='@Url.Content("~/Content/js/jquery-1.11.3.min.js")'></script>
    <script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/Content/js/nparty.js")'></script>
    @RenderSection("Scripts", false)
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1401757976733944";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>