@model CampeonatosNParty.Models.ViewModel.DashboardView
@{
    ViewBag.Title = "Dashboard";
}

<h2>Olá, @Model.usuario.Nome</h2>
<div class="row">
    <div class="span12">
        <h3>Últimas notificações <small>(<a href="~/Jogadores/Notificacoes">Ver todas</a>)</small></h3>
        @if (Model.notificacoes != null && Model.notificacoes.Count > 0)
        {
            <ul class="notifications">
                @foreach (CampeonatosNParty.Models.Database.Notificacoes notificacao in Model.notificacoes)
                {
                    if (!string.IsNullOrEmpty(notificacao.Titulo) && !string.IsNullOrEmpty(notificacao.Corpo))
                    {
                        string corpo = notificacao.Corpo.Length > 50 ? notificacao.Corpo.Substring(0, 50) + "..." : notificacao.Corpo;
                        <li>
                            <h4><a href="#" onclick="showHeader('@notificacao.Titulo', '@notificacao.Corpo');">@notificacao.Titulo</a></h4>
                            <span class="data">@notificacao.DateSent.ToString("dd/MM/yyyy")</span>
                            <p>@corpo</p>
                        </li>
                    }
                }
            </ul>
        } else {
            <p>Ops, você ainda não possui nenhuma notificação.</p>
        }
        
    </div>
</div>
<div class="row">
    
    <div class="span4">
        <br />
        <a class="btn btn-large btn-block" href="~/Jogadores/EditarMinhasInformacoes">Editar Perfil</a>
    </div>
    
    <div class="span4">
        <br />
        <a class="btn btn-large btn-block" href="@Url.Content("~/Jogadores/Detalhes/" + Model.usuario.Id)">Visualizar Perfil</a>
    </div>
    
    <div class="span4">
        <br />
        <a class="btn btn-large btn-block" href="~/Home/Logout">Logout</a>
    </div>
</div>

<!-- Modal -->
<div id="notificationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="notificationModalLabel"></h3>
  </div>
  <div class="modal-body">
    <p id="notificationModalBody"></p>
  </div>
</div>

<script>
    function showHeader(header, body) {
        $('#notificationModalLabel').text(header);
        $('#notificationModalBody').text(body);
        $('#notificationModal').modal('show');
    }
</script>

