@using CampeonatosNParty.Models.Database
@model CampeonatosNParty.Models.ViewModel.HomeView
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span12">
        <div id="mainSlider" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/Static/img/template/hero.png" alt="Bem vindo ao N-Party Connect">
                    <style>
                        .carousel-caption {
                            bottom: 20px;
                        }
                    </style>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Bem vindo ao N-Party Connect!</h1>
                              <p class="lead">Esta é a primeira rede online voltada para fãs da Nintendo. Conecte-se ao universo da Big-N, participe de campeonatos, ganhe badges e faça novos amigos!</p><br />
                              <a class="btn btn-large btn-primary" href="~/Home/Sobre">Quero conhecer melhor o N-Party Connect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap">
    <div class="row">
        <div class="span12">
            @{
                if (Model.ranking != null && Model.ranking.Count() > 0)
                {
                    <h2>Ranking <small>(<a href="~/Home/Ranking">Visualizar lista completa</a>)</small></h2>
                    <ul class="thumbnails">
                        @foreach (CampeonatosNParty.Models.Database.Ranking ranking in Model.ranking)
                        {
                            if (ranking != null)
                            {
                                <li class="span2">
                                    <a class="thumbnail" href="@Url.Content("~/Jogadores/Detalhes/" + ranking.IdUsuario)">
                                        <img alt="@ranking.NomeUsuario" src="@ranking.getUrlFotoPerfil()" />
                                        @{
                                            string apelido = string.IsNullOrEmpty(ranking.ApelidoUsuario) ? "" : "(" + ranking.ApelidoUsuario + ")";
                                        }
                                        <h4>@ranking.NomeUsuario <small>@apelido</small></h4>
                                        <div class="textDescription">
                                            <div>
                                                <b>Pontos:</b> @ranking.Pontos pontos
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="span12">
            @{
                if (Model.lastEvent != null)
                {
                    <h2>Último Evento</h2>
                    <div class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="@Url.Content("~/Eventos/Detalhes/" + Model.lastEvent.Id)"><img src="@Model.lastEvent.getCoverUrl()" alt="@Model.lastEvent.Nome"/></a>
                                <div class="carousel-caption white">
                                    <h2>@Model.lastEvent.Nome</h2>
                                    @{
                                        if (Model.lastEventCidade != null && !string.IsNullOrEmpty(Model.lastEventCidade.Nome))
                                        {
                                            string cidadeSigla = Model.lastEventEstado != null && !string.IsNullOrEmpty(Model.lastEventEstado.Sigla) ?
                                                Model.lastEventCidade.Nome + " - " + Model.lastEventEstado.Sigla :
                                                Model.lastEventCidade.Nome;
                                                                        <div><b>Cidade</b>: @cidadeSigla</div>
                                        }

                                        if (Model.lastEventType != null && !string.IsNullOrEmpty(Model.lastEventType.Nome))
                                        {
                                                                        <div><b>Tipo</b>: @Model.lastEventType.Nome</div>
                                        }

                                        if (!string.IsNullOrEmpty(Model.lastEvent.Local))
                                        {
                                                                        <div><b>Local</b>: @Model.lastEvent.Local</div>
                                        }

                                        if (Model.lastEvent.DataEventoInicio != null)
                                        {
                                            string dataEvento = Model.lastEvent.DataEventoFim != null && Model.lastEvent.DataEventoInicio.CompareTo(Model.lastEvent.DataEventoFim) == 0 ?
                                                Model.lastEvent.DataEventoInicio.ToString("dd/MM/yyyy") :
                                                Model.lastEvent.DataEventoInicio.ToString("dd/MM/yyyy") + " a " + Model.lastEvent.DataEventoFim.ToString("dd/MM/yyyy");
                                        
                                                                        <div><b>Data</b>: @dataEvento</div>
                                        }
                                    }
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
