@using CampeonatosNParty.Models.Database
@model CampeonatosNParty.Models.ViewModel.HomeView
@{
    ViewBag.Title = "Index";
}

<div class="hero-unit">
    <h1>Campeonatos N-Party</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        
        <h2>Top 5 Ranking</h2>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nick</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Ranking rank in Model.ranking)
                    {
                        <tr>
                            <td><a href="@Url.Content("/Jogadores/Detalhes/" + rank.IdUsuario)">@rank.NomeUsuario</a></td>
                            <td>@rank.ApelidoUsuario</td>
                            <td>@rank.Pontos</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <p><a class="btn" href="@Url.Content("~/Jogadores")">Ver os detalhes &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Últimos Eventos</h2>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Eventos evento in Model.eventos)
                    {
                        <tr>
                            <td><a href="@Url.Content("~/Eventos/Detalhes/" + evento.Id)">@evento.Nome</a></td>
                            @{
                                string dataEvento;
                                if (evento.DataEventoInicio.CompareTo(evento.DataEventoFim) > 0)
                                {
                                    dataEvento = evento.DataEventoInicio.ToString("dd/MM/yyyy");
                                }
                                else
                                {
                                    dataEvento = evento.DataEventoInicio.ToString("dd/MM/yyyy") + " a " + evento.DataEventoFim.ToString("dd/MM/yyyy"); ;
                                }
                            }
                            <td>@dataEvento</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <p><a class="btn" href="@Url.Content("~/Eventos")">Ver os detalhes &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Últimos Campeonatos</h2>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                 @{
                     foreach (CampeonatoPorEvento campeonato in Model.campeonatos)
                    {
                        <tr>
                            <td><a href="@Url.Content("~/Campeonatos/Detalhes/" + campeonato.IdCampeonato)">@campeonato.NomeJogo</a></td>
                            <td>@campeonato.DataCampeonato.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <p><a class="btn" href="@Url.Content("~/Campeonatos")">Ver os detalhes &raquo;</a></p>
    </div>
</div>
