@using NParty.Database.ESports
@{
    ViewBag.Title = "Gerenciar jogos competitivos";
    List<ESportsGame> games = (List<ESportsGame>)ViewData["games"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a></li>
    <li><a href="@Url.Content("/ESports")">ESports</a></li>
    <li class="active">Gerenciar jogos competitivos</li>
</ol>

<h2>Gerenciar Jogos competitivos <a class="btn btn-primary" href="@Url.Content("~/ESports/Game/New")">Novo</a></h2>

@if (games == null || games.Count == 0)
{
    <div class="alert alert-info">
        Não encontramos nenhum jogo competitivo cadastrado
    </div>
}
else
{
    <div class="row">
        @foreach (ESportsGame game in games)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@(string.IsNullOrEmpty(game.ESportsGameLogoURL) ? Url.Content("~/Content/img/esports-default.jpg") : game.ESportsGameLogoURL)" alt="@game.ESportsGameName" />
                    <div class="caption">
                        <h3>@game.ESportsGameName</h3>
                        <p style="margin-top: 10px;">
                            <a href="@Url.Content("~/ESports/Game/Edit/" + game.ESportsGameId)" class="btn btn-primary btn-block" role="button">Editar</a>
                            <a href="@Url.Content("~/ESports/GameRule/Index/" + game.ESportsGameId)" class="btn btn-default btn-block" role="button">Gerenciar Regras</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

