@model CampeonatosNParty.Models.ViewModel.EventosDetailView
@{
    if(Model != null)
    {
        ViewBag.Title = "Detalhes do evento";
        CampeonatosNParty.Models.Database.Cidade cidade = CampeonatosNParty.Models.Database.Cidade.WithIdentity(Model.evento.IdCidade);
        CampeonatosNParty.Models.Database.Estado estado = CampeonatosNParty.Models.Database.Estado.WithIdentity(Model.evento.IdEstado);
        CampeonatosNParty.Models.Database.TipoEvento tipoEvento = CampeonatosNParty.Models.Database.TipoEvento.WithIdentity(Model.evento.TipoEvento);

        <div class="page-header">
          <h2>@Model.evento.Nome</h2>
        </div>
        <div class="row">
            <div class="span6">
                <h3>Detalhes do evento</h3>
                <hr />
            @{
                if(cidade != null && !string.IsNullOrEmpty(cidade.Nome))
                {
                    string cidadeSigla = estado != null && !string.IsNullOrEmpty(estado.Sigla) ? cidade.Nome + " - " + estado.Sigla : cidade.Nome;
                    <div class="row">
                        <div class="span1"><b>Cidade</b></div>
                        <div class="span2">@cidadeSigla</div>
                    </div>
                }

                if (tipoEvento != null && !string.IsNullOrEmpty(tipoEvento.Nome))
                {
                    <div class="row">
                        <div class="span1"><b>Tipo</b></div>
                        <div class="span2">@tipoEvento.Nome</div>
                    </div>
                }
                
                if (!string.IsNullOrEmpty(Model.evento.Local))
                {
                    <div class="row">
                        <div class="span1"><b>Local</b></div>
                        <div class="span2">@Model.evento.Local</div>
                    </div>
                }
        
                if (Model.evento.DataEventoInicio != null)
                {
                    string dataEvento = Model.evento.DataEventoInicio.CompareTo(Model.evento.DataEventoFim) > 0 ?
                        Model.evento.DataEventoInicio.ToString("dd/MM/yyyy") :
                        Model.evento.DataEventoInicio.ToString("dd/MM/yyyy") + " a " + Model.evento.DataEventoFim.ToString("dd/MM/yyyy");
                                        
                    <div class="row">
                        <div class="span1"><b>Data</b></div>
                        <div class="span2">@dataEvento</div>
                    </div>
                }
            }
            </div>
            <div class="span6">
                <h3>Classificação dos campeonatos</h3>
                <hr />
                @{
                    if (Model.detalheCampeonatos.Count > 0)
                    {
                        int lastCampId = Model.detalheCampeonatos.First().IdCampeonato;
                        <h4>@Model.detalheCampeonatos.First().Nome <small>@Model.detalheCampeonatos.First().DataCampeonato.ToString("dd/MM/yyyy")</small></h4>
                        @Html.Raw("<table class=\"table table-bordered table-hover\" width=\"100%\"><thead><tr><th>Nome do Jogador</th><th>Apelido</th><th>Pontos</th></tr></thead>");
                        foreach (CampeonatosNParty.Models.Database.DetalhesCampeonatoPorEvento camp in Model.detalheCampeonatos)
                        {
                            if (camp.IdCampeonato != lastCampId)
                            {
                                lastCampId = camp.IdCampeonato;
                                @Html.Raw("</table>");
                                <h4>@camp.Nome <small>@camp.DataCampeonato.ToString("dd/MM/yyyy")</small></h4>
                                @Html.Raw("<table class=\"table table-bordered table-hover\" width=\"100%\"><thead><tr><th>Nome do Jogador</th><th>Apelido</th><th>Pontos</th></tr></thead>");
                                
                            }
                                <tr>
                                    <td><a href="@Url.Content("/Jogadores/Detalhes/" + camp.IdUsuario)">@camp.NomeJogador</a></td>
                                    <td>@camp.ApelidoJogador</td>
                                    <td>@camp.Pontuacao</td>
                                </tr>
                        }
                         @Html.Raw("</table>");
                    }
                }
            </div>
        </div>
    }
}
