@model CampeonatosNParty.Models.ViewModel.EventosDetailView
@{
    if(Model != null)
    {
        ViewBag.Title = "Detalhes do evento";
        CampeonatosNParty.Models.Database.Cidade cidade = CampeonatosNParty.Models.Database.Cidade.WithIdentity(Model.evento.IdCidade);
        CampeonatosNParty.Models.Database.Estado estado = CampeonatosNParty.Models.Database.Estado.WithIdentity(Model.evento.IdEstado);
        CampeonatosNParty.Models.Database.TipoEvento tipoEvento = CampeonatosNParty.Models.Database.TipoEvento.WithIdentity(Model.evento.TipoEvento);

        <ul class="breadcrumb">
            <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
            <li><a href="@Url.Content("/Eventos")">Eventos</a> <span class="divider">/</span></li>
            <li class="active">@Model.evento.Nome</li>
        </ul>
        <div class="row">
            <div class="span4">
                <div class="eventoDetail">
                    <h2>@Model.evento.Nome</h2>
                    <img src="@Model.evento.ImagemURL" alt="@Model.evento.Nome" />
                </div>
                @{
                    if(cidade != null && !string.IsNullOrEmpty(cidade.Nome))
                    {
                        <br />
                        string cidadeSigla = estado != null && !string.IsNullOrEmpty(estado.Sigla) ? cidade.Nome + " - " + estado.Sigla : cidade.Nome;
                        <div class="row">
                            <div class="span1"><b>Cidade</b></div>
                            <div class="span3">@cidadeSigla</div>
                        </div>
                    }

                    if (tipoEvento != null && !string.IsNullOrEmpty(tipoEvento.Nome))
                    {
                        <div class="row">
                            <div class="span1"><b>Tipo</b></div>
                            <div class="span3">@tipoEvento.Nome</div>
                        </div>
                    }
                
                    if (!string.IsNullOrEmpty(Model.evento.Local))
                    {
                        <div class="row">
                            <div class="span1"><b>Local</b></div>
                            <div class="span3">@Model.evento.Local</div>
                        </div>
                    }
        
                    if (Model.evento.DataEventoInicio != null)
                    {
                        string dataEvento = Model.evento.DataEventoInicio.CompareTo(Model.evento.DataEventoFim) > 0 ?
                            Model.evento.DataEventoInicio.ToString("dd/MM/yyyy") :
                            Model.evento.DataEventoInicio.ToString("dd/MM/yyyy") + " a " + Model.evento.DataEventoFim.ToString("dd/MM/yyyy");
                                        
                        <div class="row">
                            <div class="span1"><b>Data</b></div>
                            <div class="span3">@dataEvento</div>
                        </div>
                    }
                }
            </div>
            <div class="span8">
                <h3>Classificação dos campeonatos</h3>
                @{
                    if (Model.detalheCampeonatos.Count > 0)
                    {
                        foreach (List<CampeonatosNParty.Models.Database.DetalhesCampeonatoPorEvento> campeonatos in Model.detalheCampeonatos)
                        {
                            <div class="row" style="margin-top: 20px;">
                                <div class="span2">
                                    <img src="@campeonatos.First().ImagemJogo" />
                                    <h4>@campeonatos.First().Nome <small>@campeonatos.First().DataCampeonato.ToString("dd/MM/yyyy")</small></h4>
                                </div>
                                <div class="span6">
                                    <table class="table table-bordered table-hover  table-condensed" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="32"></th>
                                                <th class="span2">Nome do Jogador</th>
                                                <th class="span2">Apelido</th>
                                                <th class="span1">Pontos</th>
                                            </tr>
                                        </thead>
                                        @foreach (CampeonatosNParty.Models.Database.DetalhesCampeonatoPorEvento camp in campeonatos)
                                        {
                                            <tr>
                                                <td><img src="@camp.ImagemJogador" width="32"/></td>
                                                <td><a href="@Url.Content("/Jogadores/Detalhes/" + camp.IdUsuario)">@camp.NomeJogador</a></td>
                                                <td>@camp.ApelidoJogador</td>
                                                <td>@camp.Pontuacao</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    }
}
