@using CampeonatosNParty.Models.Database
@using EixoX.Data
@model EixoX.Data.ClassSelectResult<Eventos>
@{
    ViewBag.Title = "Eventos";
    Dictionary<int, string> eventoTipo = TipoEvento.Select().ToDictionary(g => g.Id, f => f.Nome);

    List<Eventos> eventosList;
    if(Model == null)
    {
        eventosList = NPartyDb<Eventos>.Instance.Select().OrderBy("DataEventoInicio", EixoX.Data.SortDirection.Descending).Page(25, 0).ToList();
    }
    else{
        eventosList = Model.ToList();
    }

    int currentPage = Request.QueryString["page"] == null ? 0 : Int32.Parse(Request.QueryString["page"]);
    string filter = Request.QueryString["filter"] != null ? "filter=" + Request.QueryString["filter"] : "";
}

<ul class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
    <li class="active">Eventos</li>
</ul>
<div class="page-header">
  <h1>Eventos <small>Confira todos os eventos que participamos</small></h1>
</div>
<div class="row">
    <div class="span12">
        <form method="get" class="form-search pull-right">
            <div class="input-append">
                <input type="text" name="filter" placeholder="Procurar por evento" class="search-query" style="height:24px;" value="@Request.QueryString["filter"]">
                <button class="btn btn-primary">
                    <i class="icon-search icon-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
@{
    if(eventosList.Count > 0){
        <div class="row">
            <div class="span12">
                   @{
                        foreach (Eventos[] eventosArray in eventosList.Segment(4))
                        {
                            <ul class="thumbnails">
                                @foreach (Eventos evento in eventosArray)
                                {
                                    if(evento != null)
                                    {
                                        <li class="span3">
                                            <a class="thumbnail" href="@Url.Content("~/Eventos/Detalhes/" + evento.Id)">
                                                <img data-src="holder.js/300x200" alt="@evento.Nome" src="@evento.getImagemUrl()" />
				                                <h4>@evento.Nome</h4>
				                                <div class="textDescription">
                                                    @if(!string.IsNullOrEmpty(evento.Local))
                                                    {
                                                        <div><b>Local:</b> @evento.Local</div>
                                                    }
                                                    @if(evento.DataEventoInicio != null && evento.DataEventoInicio != DateTime.MinValue)
                                                    {
                                                        <div><b>Data:</b> @evento.DataEventoInicio.ToString("dd/MM/yyyy")
                                                        @if (evento.DataEventoFim != null && 
                                                             evento.DataEventoFim != DateTime.MinValue &&
                                                             evento.DataEventoInicio.CompareTo(evento.DataEventoFim) != 0)
                                                        {
                                                            <span>a @evento.DataEventoFim.ToString("dd/MM/yyyy")</span>
                                                        }
                                                        </div>
                                                    }
				                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    } 
            </div>
        </div>
        if(Model.HasPreviousPages || Model.HasMorePages)
        {
            @Html.Raw("<div class=\"paginationButton\">");
            filter = string.IsNullOrEmpty(filter) ? filter : "&" + filter;
            
            if(Model.HasPreviousPages)
            {
                <a class="pull-left btn btn-primary" href="/Jogadores/?page=@(currentPage - 1)@filter"><i class="icon-chevron-left icon-white"></i> Página anterior</a>
            }
            if(Model.HasMorePages)
            {
                <a class="pull-right btn btn-primary" href="/Jogadores/?page=@(currentPage + 1)@filter">Próxima página <i class="icon-chevron-right icon-white"></i></a>
            }
            @Html.Raw("</div>");
        }
    } else {
        <div class="row">
            <div class="span12">
                <p>Nenhum evento foi encontrado.</p>
            </div>
        </div>
    }
}
