@model AdminConnect.Models.Database.DetalhesCampeonato
@{
    ViewBag.Title = "Adicionar Inscricao";
    CampeonatosNParty.Models.Database.Administrador user =
(CampeonatosNParty.Models.Database.Administrador)Session["CurrentUser"];
    string limit = Request.QueryString["limit"];
}

@{
    Html.RenderPartial("FlashMessage");
}

<div class="page-header">
    <h1>Adicionar Inscrição</h1>
</div>

@if (Model != null)
{
    <ol class="breadcrumb">
        <li><a href="@Url.Content("~/Dashboard/")">Home</a></li>
        <li><a href="@Url.Content("~/Eventos/Detalhes/" + Model.IdEvento)">@Model.NomeEvento</a></li>
        <li><a href="@Url.Content("~/Campeonatos/Detalhes/" + Model.IdCampeonato)">@Model.NomeJogo</a></li>
        <li class="active">Adicionar Inscrição</li>
    </ol>

    <div ng-app="UsuariosFromChampionshipLoad">
        <div class="table-responsive" ng-controller="UsuariosFromChampionshipController">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">Busca</span>
                        <input name="filter" type="text" class="form-control" ng-model="query">
                    </div>
                </div>
                <div class="col-lg-4">
                    <form method="get" id="limit" onchange="$('#limit').submit()">
                        <select name="limit" class="form-control">
                            <option value="0">Selecione o numero de registros</option>
                            <option value="50">50 registros</option>
                            <option value="200">200 registros</option>
                            <option value="1000">1000 registros</option>
                            <option value="5000">5000 registros</option>
                        </select>
                    </form>
                </div>
                <div class="col-lg-2">
                    @if (user.AdminSupremo || (user.PodeInserirUsuario))
                    {
                        <a href="@Url.Content("~/Usuarios/Novo?idCampeonato=" + Model.IdCampeonato)" class="btn btn-primary pull-right">Novo usuário</a>
                    }
                </div>
            </div><br />
            <br />
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome Completo</th>
                        <th>Apelido</th>
                        <th>Email</th>
                        <th>Inscrever</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading">
                        <td colspan="5">Carregando...</td>
                    </tr>
                    <tr ng-show="(usuarios | filter:query).length == 0">
                        <td colspan="5">Nenhum usuário encontrado</td>
                    </tr>
                    <tr data-ng-repeat="usuario in usuarios | filter:query">
                        <td>{{usuario.Id}}</td>
                        <td>{{usuario.NomeCompletoString}}</td>
                        <td>{{usuario.Apelido}}</td>
                        <td>{{usuario.Email}}</td>
                        <td><button class="btn btn-primary" ng-click="openConfirmationModal(usuario.Id)"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button></td>
                    </tr>
                </tbody>
            </table>
            <div data-pagination="" data-num-pages="numPages()"
                 data-current-page="currentPage" data-max-size="maxSize"
                 data-boundary-links="true"></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confimationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confimationModalLabel">Adicionar usuário ao campeonato?</h4>
                </div>
                <form method="post" action="@Url.Content("~/Campeonatos/AdicionarInscricao/" + Model.IdCampeonato)">
                    <input type="hidden" name="IdUsuario" ng-model="IdUsuario" id="IdUsuario" />
                    @{
                        if (Model.ValorInscricao > 0)
                        {
                            <div class="modal-body">
                                <div class="checkbox">
                                    <label>
                                        
                                        <input type="checkbox" name="FoiPago"> A inscrição já foi paga
                                    </label>
                                </div>
                            </div>
                        }
                    }
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Inscrever jogador</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        

        var UsuariosFromChampionshipLoad = angular.module('admin', []);

        UsuariosFromChampionshipLoad.controller('UsuariosFromChampionshipController', function ($scope, $http) {
            $scope.loading = true;
            $http.get('@Url.Content("~/Ajax/GetUsersNotSubscribedToChampionship/" + Model.IdCampeonato + "?limit=" + limit)')
            .then(function (res) {
                $scope.usuarios = res.data;
                $scope.loading = false;
            });

            $scope.openConfirmationModal = function (uId) {
                $('#IdUsuario').val(uId);
                $('#confimationModal').modal('show');
                console.log(uId);
            }
        });
    </script>
}
else
{

}


