@model AdminConnect.Models.View.DetalhesCampeonato
@{
    ViewBag.Title = "Detalhes";
    CampeonatosNParty.Models.Database.Administrador user =
        (CampeonatosNParty.Models.Database.Administrador)Session["CurrentUser"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Content("~/Dashboard/")">Home</a></li>
    <li><a href="@Url.Content("~/Eventos/Gerenciar/")">Gerenciar</a></li>
    @if (Model != null && Model.evento != null)
    {
        <li><a href="@Url.Content("~/Eventos/Detalhes/" + Model.evento.Id)">@Model.evento.Nome</a></li>
    }
    @if (Model != null && Model.jogo != null && Model.campeonato != null)
    {
        <li class="active">@Model.jogo.Nome (@Model.campeonato.DataCampeonato.ToString("dd/MM/yyyy"))</li>
    }
    
</ol>

@{
    Html.RenderPartial("FlashMessage");
}

@if (Model != null && Model.campeonato != null && Model.jogo != null)
{
    <div class="row">
        <div class="col-md-8">
            <h2>@Model.jogo.Nome</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="@Model.jogo.getCoverUrl()" width="100%" />
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h4>Detalhes</h4>
                <b>Data: </b> @Model.campeonato.DataCampeonato.ToString("dd/MM/yyyy")<br />
                <div><b>Status</b>: @Model.statusCampeonato.Nome @{Html.RenderPartial("CampeonatoStatusChange", new Tuple<CampeonatosNParty.Models.Database.Campeonatos, CampeonatosNParty.Models.Database.Eventos, CampeonatosNParty.Models.Database.Administrador>(Model.campeonato, Model.evento, user));}</div>
                <b>Número de inscritos</b>: @Model.numeroParticipantes
            </div>
        </div>
        <div class="col-md-8">
            <h4>
                Participantes 
                @if (user.AdminSupremo || (user.PodeEditarCampeonato && user.IdOrganizador == Model.evento.IdOrganizador))
                {
                    <a href="#" class="btn btn-primary">Adicionar</a>
                }
            </h4>
            @if (Model.classificacao != null && Model.classificacao.Count() > 0)
            {
                foreach (CampeonatosNParty.Models.Database.ClassificacaoCampeonato[] classificacaoArray in Model.classificacao)
                {
                    <div class="row">
                        @foreach (CampeonatosNParty.Models.Database.ClassificacaoCampeonato classificacao in classificacaoArray)
                        {
                            if (classificacao != null)
                            {
                                string classificacaoCamp = classificacao.Classificacao == 0 || classificacao.Classificacao > 4 ? " - " : classificacao.Classificacao.ToString() + "º lugar";
                                <div class="col-md-3">
                                    <a href="@Url.Content("~/Usuarios/Detalhes/" + classificacao.IdUsuario)" class="thumbnail">
                                        <img class="img-responsive" alt="@classificacao.Nome" src="@classificacao.getUrlFotoPerfil()">
                                        <div class="caption">
                                            <h3>@classificacao.Nome</h3>
                                            @if (Model.campeonato.IdStatus == 3)
                                            {
                                                <div>
                                                    Classificação: @classificacaoCamp
                                                </div>
                                            }
                                        </div>
                                    </a>
                                </div>
                            }
                        }                        
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">Não existem informações para serem exibidas</div>
}


