@model AdminConnect.Models.View.DetalhesCampeonato
@{
    ViewBag.Title = "Detalhes";
    CampeonatosNParty.Models.Database.Administrador user =
        (CampeonatosNParty.Models.Database.Administrador)Session["CurrentUser"];
}

@{
    Html.RenderPartial("FlashMessage");
}

@if (Model != null && Model.detalhesCampeonato != null)
{
    <ol class="breadcrumb">
        <li><a href="@Url.Content("~/Dashboard/")">Home</a></li>
        <li><a href="@Url.Content("~/Eventos/Gerenciar/")">Gerenciar</a></li>
        <li><a href="@Url.Content("~/Eventos/Detalhes/" + Model.detalhesCampeonato.IdEvento)">@Model.detalhesCampeonato.NomeEvento</a></li>
        <li class="active">@Model.detalhesCampeonato.NomeJogo (@Model.detalhesCampeonato.DataCampeonato.ToString("dd/MM/yyyy"))</li>
    </ol>
    
    <div class="row">
        <div class="col-md-8">
            <h2>@Model.detalhesCampeonato.NomeJogo</h2>
        </div>
        <div class="col-md-4">
            @{
                if ((user.AdminSupremo || (user.PodeEditarCampeonato && user.IdOrganizador == Model.detalhesCampeonato.IdOrganizador)) && Model.detalhesCampeonato.IdStatus != 3)
                {
                    <div class="btn-group pull-right" style="margin-top: 20px; margin-bottom: 10px;">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
                            Alterar status <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @if (Model.detalhesCampeonato.IdStatus == 1)
                            {
                                <li><a href="@Url.Content("~/Campeonatos/EmAndamento/" + Model.detalhesCampeonato.IdCampeonato)">Iniciar</a></li>
                            }
                            @if (Model.detalhesCampeonato.IdStatus == 2)
                            {
                                <li><a href="@Url.Content("~/Campeonatos/NaoIniciado/" + Model.detalhesCampeonato.IdCampeonato)">Não Iniciado</a></li>
                                <li><a href="@Url.Content("~/Campeonatos/FinalizarCampeonato/" + Model.detalhesCampeonato.IdCampeonato)">Finalizar</a></li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="@Model.detalhesCampeonato.getCoverUrl()" width="100%" />
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h4>Detalhes</h4>
                <b>Organizador</b>: @Model.detalhesCampeonato.NomeOrganizador<br/>
                <b>Data</b>: @Model.detalhesCampeonato.DataCampeonato.ToString("dd/MM/yyyy")<br />
                <b>Status</b>: @Model.detalhesCampeonato.NomeStatus<br />
                <b>Número de inscritos</b>: @Model.numeroParticipantes
            </div>
        </div>
        <div class="col-md-8">
            <h4>
                Participantes 
                @if (user.AdminSupremo || (user.PodeEditarCampeonato && user.IdOrganizador == Model.detalhesCampeonato.IdOrganizador))
                {
                    <a href="@Url.Content("~/Campeonatos/AdicionarInscricao/" + Model.detalhesCampeonato.IdCampeonato)" class="btn btn-primary">Adicionar</a>
                }
            </h4>
            @if (Model.detalhesCampeonato.IdStatus == 3)
            {
                if (Model.classificacao != null && Model.classificacao.Count() > 0)
                {
                    foreach (CampeonatosNParty.Models.Database.ClassificacaoCampeonato[] classificacaoArray in Model.classificacao)
                    {
                        <div class="row">
                            @foreach (CampeonatosNParty.Models.Database.ClassificacaoCampeonato classificacao in classificacaoArray)
                            {
                                if (classificacao != null)
                                {
                                    <div class="col-md-3">
                                        <a href="@Url.Content("~/Usuarios/Detalhes/" + classificacao.IdUsuario)" class="thumbnail">
                                            <img class="img-responsive" alt="@classificacao.Nome" src="@classificacao.getUrlFotoPerfil()">
                                            <div class="caption">
                                                <h3>@classificacao.Nome</h3>
                                                <div>
                                                    Classificação: @classificacao.getPlayerPosition()
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            }
            else
            {
                if (Model.inscricoes != null && Model.inscricoes.Count() > 0)
                {
                    foreach (AdminConnect.Models.Database.InscricaoUsuario[] inscricoesArray in Model.inscricoes)
                    {
                        <div class="row">
                            @foreach (AdminConnect.Models.Database.InscricaoUsuario inscricao in inscricoesArray)
                            {
                                if (inscricao != null)
                                {
                                    <div class="col-md-3">
                                        <a href="@Url.Content("~/Usuarios/Detalhes/" + inscricao.IdUsuario)" class="thumbnail">
                                            <img class="img-responsive" alt="@inscricao.NomeUsuario" src="@inscricao.getUrlFotoPerfil()">
                                            <div class="caption">
                                                <h3>@inscricao.NomeUsuario</h3>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">Não existem informações para serem exibidas</div>
}


